<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/trade_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link nav-active" href="/trades/">All</a>
      <a class="nav-item nav-link" href="/trades/2020">2020</a>
      <a class="nav-item nav-link disabled">2021</a>
      <a class="nav-item nav-link disabled">2022</a>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="">
      <div class="table-responsive">
        <div class="outer-border">
          
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Friday, October 30, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/jorden/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Goathouse Alums Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Darnell Mooney</td>
                  <td class="left-data no-wrapper">Chicago Bears</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2021 5th Round Pick</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Wednesday, October 28, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/scott/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Outkasts Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/cameron/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    White Panthers Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Mike Evans</td>
                  <td class="left-data no-wrapper">Tampa Bay Buccaneers</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Tyler Lockett</td>
                  <td class="left-data no-wrapper">Seattle Seahawks</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Zach Moss</td>
                  <td class="left-data no-wrapper">Buffalo Bills</td>
                  <td></td>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Jimmy Graham</td>
                  <td class="left-data no-wrapper">Chicago Bears</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2022 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2023 1st Round Pick</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Monday, October 26, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/jorden/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Goathouse Alums Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/lucas/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Herbert St. Hermits Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Alexander Mattison</td>
                  <td class="left-data no-wrapper">Minnesota Vikings</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Phillip Lindsay</td>
                  <td class="left-data no-wrapper">Denver Broncos</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 2nd Round Pick via Outkasts</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Darius Slayton</td>
                  <td class="left-data no-wrapper">New York Giants</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 4th Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Monday, October 26, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/jorden/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Goathouse Alums Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Greg Ward</td>
                  <td class="left-data no-wrapper">Philadelphia Eagles</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Preston Williams</td>
                  <td class="left-data no-wrapper">Miami Dolphins</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 3rd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Thursday, October 22, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="8" class="no-wrapper">
                    <img
                      src="/images/caleb/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Jeff City Leprechauns Acquire:
                  </td>
                  <td></td>
                  <td rowspan="8" class="no-wrapper">
                    <img
                      src="/images/cameron/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    White Panthers Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Brandin Cooks</td>
                  <td class="left-data no-wrapper">Houston Texans</td>
                  <td></td>
                  <td class="left-data no-wrapper">QB</td>
                  <td class="left-data no-wrapper">Drew Brees</td>
                  <td class="left-data no-wrapper">New Orleans Saints</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Dalton Schultz</td>
                  <td class="left-data no-wrapper">Dallas Cowboys</td>
                  <td></td>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Eric Ebron</td>
                  <td class="left-data no-wrapper">Pittsburgh Steelers</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Mike Evans</td>
                  <td class="left-data no-wrapper">Tampa Bay Buccaneers</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 2nd Round Pick</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Kenyan Drake</td>
                  <td class="left-data no-wrapper">Arizona Cardinals</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2022 2nd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2023 2nd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2023 3rd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Monday, October 19, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/jacob/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Slayton Slayerz Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/lucas/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Herbert St. Hermits Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Mark Ingram</td>
                  <td class="left-data no-wrapper">Baltimore Ravens</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Jerick McKinnon</td>
                  <td class="left-data no-wrapper">San Francisco 49ers</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Evan Engram</td>
                  <td class="left-data no-wrapper">New York Giants</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Anthony Miller</td>
                  <td class="left-data no-wrapper">Chicago Bears</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2022 2nd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Saturday, October 17, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/ethan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Silverbacks Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/jacob/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Slayton Slayerz Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Jonathan Taylor</td>
                  <td class="left-data no-wrapper">Indianapolis Colts</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Joe Mixon</td>
                  <td class="left-data no-wrapper">Cincinnati Bengals</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Jerry Jeudy</td>
                  <td class="left-data no-wrapper">Denver Broncos</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">AJ Brown</td>
                  <td class="left-data no-wrapper">Tennessee Titans</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 2nd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2021 3rd Round Pick</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Thursday, October 15, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/dan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Baba Yagas Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Chase Claypool</td>
                  <td class="left-data no-wrapper">Pittsburgh Steelers</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Will Fuller</td>
                  <td class="left-data no-wrapper">Houston Texans</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Zach Ertz</td>
                  <td class="left-data no-wrapper">Philadelphia Eagles</td>
                  <td></td>
                  <td colspan="3"class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Sunday, October 11, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/brian/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Quarantine Cowboys Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/dan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Baba Yagas Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Chris Godwin</td>
                  <td class="left-data no-wrapper">Tampa Bay Buccaneers</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Chase Claypool</td>
                  <td class="left-data no-wrapper">Pittsburgh Steelers</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Hunter Henry</td>
                  <td class="left-data no-wrapper">Los Angeles Chargers</td>
                  <td></td>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Mark Andrews</td>
                  <td class="left-data no-wrapper">Baltimore Ravens</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>          
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Thursday, October 8, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/lucas/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Herbert St. Hermits Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/ethan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Silverbacks Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Jeff Smith</td>
                  <td class="left-data no-wrapper">New York Jets</td>
                  <td></td>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Mo-Alie Cox</td>
                  <td class="left-data no-wrapper">Indianapolis Colts</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Wednesday, October 7, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/caleb/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Jeff City Leprechauns Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Kenyan Drake</td>
                  <td class="left-data no-wrapper">Arizona Cardinals</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Le'Veon Bell</td>
                  <td class="left-data no-wrapper">New York Jets</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Raheem Mostert</td>
                  <td class="left-data no-wrapper">San Francisco 49ers</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick via Baba Yagas</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2022 2nd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Wednesday, October 7, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/shawn/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    45ers Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/juice/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Midwest Macdaddys Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">QB</td>
                  <td class="left-data no-wrapper">Derek Carr</td>
                  <td class="left-data no-wrapper">Las Vegas Raiders</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2021 3rd Round Pick</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Tuesday, September 29, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                  <td></td>
                  <td rowspan="5" class="no-wrapper">
                    <img
                      src="/images/shawn/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    45ers Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Tee Higgins</td>
                  <td class="left-data no-wrapper">Cincinnati Bengals</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Michael Thomas</td>
                  <td class="left-data no-wrapper">New Orleans Saints</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Ronald Jones</td>
                  <td class="left-data no-wrapper">Tampa Bay Buccaneers</td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick via Outkasts</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2022 2nd Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Friday, September 25, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/lucas/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Herbert St. Hermits Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/dan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Baba Yagas Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">QB</td>
                  <td class="left-data no-wrapper">Teddy Bridgewater</td>
                  <td class="left-data no-wrapper">Carolina Panthers</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Frank Gore</td>
                  <td class="left-data no-wrapper">New York Jets</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Tuesday, September 22, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/shawn/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    45ers Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/scott/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Outkasts Acquire:
                  </td>
                </tr>
                <tr class="average-stats">
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">David Johnson</td>
                  <td class="left-data no-wrapper">Houston Texans</td>
                  <td></td>
                  <td class="left-data no-wrapper">RE</td>
                  <td class="left-data no-wrapper">Saquon Barkley</td>
                  <td class="left-data no-wrapper">New York Giants</td>
                </tr>
                <tr class="average-stats">
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">
                  </td>
                </tr>
                <tr class="average-stats">
                  <td colspan="3" class="left-data no-wrapper">2022 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">
                  </td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div> 
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Monday, September 21, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/ethan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Silverbacks Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/caleb/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Jeff City Leprechauns Acquire:
                  </td>
                </tr>
                <tr class="average-stats">
                  <td class="left-data no-wrapper">QB</td>
                  <td class="left-data no-wrapper">Carson Wentz</td>
                  <td class="left-data no-wrapper">Philadelphia Eagles</td>
                  <td></td>
                  <td class="left-data no-wrapper">QB</td>
                  <td class="left-data no-wrapper">Josh Allen</td>
                  <td class="left-data no-wrapper">Buffalo Bills</td>
                </tr>
                <tr class="average-stats">
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">
                  </td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>         
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Thursday, September 17, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="7" class="no-wrapper">
                    <img
                      src="/images/caleb/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Jeff City Leprechauns Acquire:
                  </td>
                  <td></td>
                  <td rowspan="7" class="no-wrapper">
                    <img
                      src="/images/dan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Baba Yagas Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">David Montgomery</td>
                  <td class="left-data no-wrapper">Chicago Bears</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Ezekiel Elliott</td>
                  <td class="left-data no-wrapper">Dallas Cowboys</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Devin Singletary</td>
                  <td class="left-data no-wrapper">Buffalo Bills</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Matt Breida</td>
                  <td class="left-data no-wrapper">Miami Dolphins</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">DeSean Jackson</td>
                  <td class="left-data no-wrapper">Philadelphia Eagles</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2021 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2022 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">2023 1st Round Pick</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Wednesday, September 16, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/lucas/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Herbert St. Hermits Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">TE</td>
                  <td class="left-data no-wrapper">Dallas Goedert</td>
                  <td class="left-data no-wrapper">Philadelphia Eagles</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Kendrick Bourne</td>
                  <td class="left-data no-wrapper">San Francisco 49ers</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Darrell Henderson</td>
                  <td class="left-data no-wrapper">Los Angeles Rams</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Benny Snell</td>
                  <td class="left-data no-wrapper">Pittsburgh Steelers</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Myles Gaskin</td>
                  <td class="left-data no-wrapper">Miami Dolphins</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2021 2nd Round Pick via Outkasts</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Tuesday, September 8, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/cameron/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    White Panthers Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/lucas/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Herbert St. Hermits Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Davante Adams</td>
                  <td class="left-data no-wrapper">Green Bay Packers</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Kenny Golladay</td>
                  <td class="left-data no-wrapper">Detroit Lions</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Melvin Gordon</td>
                  <td class="left-data no-wrapper">Denver Broncos</td>
                  <td></td>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Austin Ekeler</td>
                  <td class="left-data no-wrapper">Los Angeles Chargers</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Wednesday, September 2, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/caleb/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Jeff City Leprechauns Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/ethan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Silverbacks Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">RB</td>
                  <td class="left-data no-wrapper">Ryquell Armstead</td>
                  <td class="left-data no-wrapper">Jacksonville Jaguars</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">2021 2nd Round Pick</td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Tuesday, July 7, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/scott/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Outkasts Acquire:
                  </td>
                </tr>
                <tr class="average-stats">
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Christian Kirk</td>
                  <td class="left-data no-wrapper">Arizona Cardinals</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Tyler Lockett</td>
                  <td class="left-data no-wrapper">Seattle Seahawks</td>
                </tr>
                <tr class="average-stats">
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Laviska Shenault Jr.</td>
                  <td class="left-data no-wrapper">Jacksonville Jaguars</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">
                    2020 24th Round Pick (8th Pick, 284th Overall)
                  </td>
                </tr>
                <tr class="average-stats">
                  <td colspan="3" class="left-data no-wrapper">
                    2021 2nd Round Pick
                  </td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
                <tr class="average-stats">
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <table class="table trade-stats full-width draft-table">
              <thead>
                <tr>
                  <th colspan="9" class="left-data nav-active">
                    Thursday, July 2, 2020
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/morgan/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    Direwolves Acquire:
                  </td>
                  <td></td>
                  <td rowspan="4" class="no-wrapper">
                    <img
                      src="/images/shawn/logo.png"
                      alt=""
                      class="nav-team-logo"
                    />
                  </td>
                  <td colspan="3" class="left-data no-wrapper trade-team">
                    45ers Acquire:
                  </td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">QB</td>
                  <td class="left-data no-wrapper">Daniel Jones</td>
                  <td class="left-data no-wrapper">New York Giants</td>
                  <td></td>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Mecole Hardman</td>
                  <td class="left-data no-wrapper">Kansas City Chiefs</td>
                </tr>
                <tr>
                  <td class="left-data no-wrapper">WR</td>
                  <td class="left-data no-wrapper">Will Fuller</td>
                  <td class="left-data no-wrapper">Houston Texans</td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">
                    2020 17th Round Pick (5th Pick, 197th Overall)
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="left-data no-wrapper">
                    2020 22nd Round Pick (11th Pick, 263rd Overall)
                  </td>
                  <td></td>
                  <td colspan="3" class="left-data no-wrapper">
                    2020 19th Round Pick (5th Pick, 221st Overall)
                  </td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
