<!-- Header -->

<%- include("../partials/headers/team") %>

<div class="overflow">
  <img src="/images/jorden/top_banner.png" alt="image" class="top-banner" />
</div>

<%- include("../partials/headers/navbar") %>

<div class="container">

<!-- Welcome Banner -->

  <div class="container-fluid">
    <img src="/images/jorden/banner.png" alt="" class="banner" />
  </div>

<!-- Owner Box/Logo -->

  <div class="container-fluid row box-border">
    <div class="col-md-12 left-data jorden-team-header">
      <h1 class="team-name">GOATHOUSE ALUMS</h1>
      <h5>Jorden Hamblen, <em>Owner</em></h5>
    </div>
    <div class="col-md-6 left-data">
      <div class="top-bottom-padding">
        <p><strong>Height:</strong> 5'10"</p>
        <p><strong>Weight:</strong> 170 lbs.</p>
        <p><strong>College:</strong> Aurora University</p>
        <p><strong>Favorite Team:</strong> Atlanta Falcons</p>
      </div>
      <div>
        <h6 class="table-title quick-view">
          <span class="jorden-table-title-fill">Quick View</span>
        </h6>
      </div>
      <div class="table-responsive">
        <table class="table table-hover standard-stats quick-stats draft-table">
          <thead>
            <tr class="center-data">
              <th>Year</th>
              <th><abbr title="Games Played">GP</abbr></th>
              <th><abbr title="Wins">W</abbr></th>
              <th><abbr title="Losses">L</abbr></th>
              <th><abbr title="Ties">T</abbr></th>
              <th><abbr title="Winning Percentage">Pct.</abbr></th>
              <th><abbr title="Points For">PF</abbr></th>
              <th><abbr title="Points Against">PA</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2020</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="right-data">.000</td>
              <td class="right-data">0,000.00</td>
              <td class="right-data">0,000.00</td>
            </tr>
            <tr class="career-stats">
              <td>Career</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="right-data">.000</td>
              <td class="right-data">0,000.00</td>
              <td class="right-data">0,000.00</td>
            </tr>
            <tr class="career-stats">
              <td>Average</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="center-data">0</td>
              <td class="right-data">.000</td>
              <td class="right-data">0,000.00</td>
              <td class="right-data">0,000.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 center-logo">
      <img src="/images/jorden/logo.png" alt="Silverbacks" class="team-logo" />
    </div>
  </div>

<!-- Schedule -->

  <div class="container-fluid">
    <img src="/images/jorden/schedule.png" alt="2020 Schedule" class="banner" />
  </div>

<!-- Statistics -->

  <div class="section-title">
    <h2 class="underline">Statistics</h2>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Overall</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Season Finish">Fin</abbr></th>
            <th><abbr title="Transactions">Txn</abbr></th>
            <th><abbr title="Trades">Trd</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-data">2021</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-data">2022</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Game Avg</td>
            <td colspan="8"></td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Advanced</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="ASMC Power Ranking">APR</abbr></th>
            <th><abbr title="Adjusted ASMC Power Ranking">APR+</abbr></th>
            <th><abbr title="Legacy Score">LS</abbr></th>
            <th><abbr title="Expected Wins">ExW</abbr></th>
            <th><abbr title="Expected Losses">ExL</abbr></th>
            <th><abbr title="Expected Winning Percentage">ExP</abbr></th>
            <th><abbr title="Maximum Points For">MPF</abbr></th>
            <th><abbr title="Maximum Points Differential">MPD</abbr></th>
            <th><abbr title="Maximum Points Differential Per Game">MPD/G</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-data">2021</td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-data">2022</td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td>000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td>.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td>000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td>.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Regular Season</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Season Finish">Fin</abbr></th>
            <th><abbr title="Transactions">Txn</abbr></th>
            <th><abbr title="Trades">Trd</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
            <th><abbr title="Single Game High">Game Hi</abbr></th>
            <th><abbr title="Single Game Low">Game Lo</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2021</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2022</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Game Avg</td>
            <td colspan="8"></td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td colspan="2"></td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Playoffs</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Playoff Appearances">App</abbr></th>
            <th><abbr title="First Round Byes">Bye</abbr></th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Points Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2021</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2022</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Game Avg</td>
            <td colspan="7"></td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td colspan="2"></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Championships</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Points Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2021</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2022</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Game Avg</td>
            <td colspan="5"></td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

   <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Per Game</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th></th>            
            <th colspan="3">Regular Season</th>
            <th colspan="3">Playoffs</th>
            <th colspan="3">Championship</th>
          </tr>
          <tr>
            <th>Year</th>
            <th><abbr title="Points For/Game">PF/G</abbr></th>
            <th><abbr title="Points Against/Game">PA/G</abbr></th>
            <th><abbr title="Point Spread/Game">PS/G</abbr></th>
            <th><abbr title="Points For/Game">PF/G</abbr></th>
            <th><abbr title="Points Against/Game">PA/G</abbr></th>
            <th><abbr title="Point Spread/Game">PS/G</abbr></th>
            <th><abbr title="Points For/Game">PF/G</abbr></th>
            <th><abbr title="Points Against/Game">PA/G</abbr></th>
            <th><abbr title="Point Spread/Game">PS/G</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2021</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-data">2022</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Best Ball</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th></th>            
            <th colspan="3">Actual</th>
            <th colspan="3">Expected</th>
          </tr>
          <tr>
            <th>Year</th>
            <th><abbr title="Actual Wins">Wins</abbr></th>
            <th><abbr title="Actual Losses">Losses</abbr></th>
            <th><abbr title="Actual Win Percentage">Pct</abbr></th>
            <th><abbr title="Expected Wins">Wins</abbr></th>
            <th><abbr title="Expected Losses">Losses</abbr></th>
            <th><abbr title="Expected Win Percentage">Pct</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">2020</td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">2021</td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">2022</td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr class="average-stats">
            <td class="left-data">Season Avg</td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr class="career-stats">
            <td class="left-data">Total</td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="jorden-table-title-fill">Head-to-Head</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th></th>
            <th>Brian</th>
            <th>Caleb</th>
            <th>Cameron</th>
            <th>Dan</th>
            <th>Jacob</th>
            <th>Jorden</th>
            <th>Juice</th>
            <th>Lucas</th>
            <th>Morgan</th>
            <th>Scott</th>
            <th>Shawn</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">Season</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
          </tr>
          <tr>
            <td class="left-data">Playoffs</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
          </tr>
          <tr class="career-stats">
            <td>Overall</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
            <td>0-0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Roster -->

  <div class="section-title">
    <h2 class="underline">Roster</h2>
  </div>

 <div class="container-fluid blog-photo">
    <div class="news news-pic">
      <h2>Rosters Under Construction!</h2>
      <p>Come back soon!</p>
    </div>
  </div>

<!-- Awards -->

  <div class="section-title">
    <h2 class="underline">Awards</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
    <div class="container-fluid col-md-4 left-data padding-side">
      <h6 class="table-title"><span class="jorden-table-title-fill">League Awards</span></h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
        <thead>
            <tr>
              <th class="center-data">Year</th>
              <th class="left-data">Award</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">League Trophy Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">League Trophy Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">League Trophy Name</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
      <div class="container-fluid col-md-4 left-data padding-side">
      <h6 class="table-title"><span class="jorden-table-title-fill">All-ASMC</span></h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
        <thead>
            <tr>
              <th class="center-data">Year</th>
              <th class="center-data">Pos</th>
              <th class="left-data">Name</th>
              <th class="center-data">Team</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
              <td class="center-data">3rd</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
              <td class="center-data">3rd</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
              <td class="center-data">3rd</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
      <div class="container-fluid col-md-4 left-data padding-side">
      <h6 class="table-title"><span class="jorden-table-title-fill">Pro Bowl</span></h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
        <thead>
            <tr>
              <th class="center-data">Year</th>
              <th class="left-data">Pos</th>
              <th class="left-data">Name</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
      </table>
      </div>
    </div>
    </div>
  </div>

<!-- Banners -->

  <!-- <div class="section-title">
    <h2 class="underline">Championship Banners</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div>
          <img
            src="/images/jorden/champ_banner.png"
            alt="Silverbacks Uniforms"
            class="champ-banner"
          />
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="/images/jorden/conference_champ_banner.png"
          alt="Silverbacks Uniforms"
          class="champ-banner"
        />
      </div>
      <div class="col-md-4">
        <img
          src="/images/jorden/division_champ_banner.png"
          alt="Silverbacks Uniforms"
          class="champ-banner"
        />
      </div>
    </div>
  </div> -->

<!-- Uniforms -->

    <div class="section-title">
      <h2 class="underline">Uniforms</h2>
    </div>

    <div class="container-fluid">
      <img
        src="/images/jorden/jersey_showcase.png"
        alt="Silverbacks Uniforms"
        class="banner"
      />
    </div>

<!-- All-Time Teams -->

    <!-- <div class="section-title">
      <h2 class="underline">All-Time Team</h2>
    </div>

    <div class="container-fluid">
      <img
        src="/images/jorden/alltime_team.png"
        alt="Silverbacks All-Time Team"
        class="banner"
      />
    </div> -->

<!-- Favorite Team -->

    <div class="container-fluid">
      <img src="/images/nfl/falcons.png" alt="Falcons" class="bottom-logo" />
    </div>
  </div>

<!-- Footer -->

  <%- include("../partials/footer") %>

</div>