<%- include("../partials/headers/main") %>

<div class="container">

  <div class="container-fluid">
    <img src="/images/2020_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/seasons/all">All</a>
      <a class="nav-item nav-link nav-active" href="/seasons/2020">2020</a>
      <a class="nav-item nav-link disabled">2021</a>
      <a class="nav-item nav-link disabled">2022</a>
      <a class="nav-item nav-link disabled">2023</a>
    </nav>
  </div>

  <div class="section-title">
    <h2 class="underline">Chug Cup Champion</h2>
  </div>

  <div class="container-fluid">
    <img src="/images/champion-graphic.png" alt="" class="banner">
  </div>
  
  <div class="section-title">
    <h2 class="underline">Playoff Bracket</h2>
  </div>

  <div>
    <img src="/images/2020playoffs.png" alt="" class="bracket-pic">
  </div>
  
  <div class="section-title">
    <h2 class="underline">Final Standings</h2>
  </div>

  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-hover standard-stats full-width draft-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Games Behind">GB</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="e-conference-header" colspan="13">
              <strong>Eastern Conference</strong>
            </td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Atlantic Division</strong></td>
          </tr>
          <tr>
            <td>1</td>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="left-align">Shawn</td>
            <td class="left-align">45ers</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>9</td>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Midwest Division</strong></td>
          </tr>
          <tr>
            <td>4</td>
            <td class="left-align">Juice</td>
            <td class="left-align">Macdaddys</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>6</td>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>10</td>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <td class="w-conference-header" colspan="13">
              <strong>Western Conference</strong>
            </td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Mountain Division</strong></td>
          </tr>
          <tr>
            <td>3</td>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>8</td>
            <td class="left-align">Jorden</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>12</td>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Pacific Division</strong></td>
          </tr>
          <tr>
            <td>5</td>
            <td class="left-align">Scott</td>
            <td class="left-align">Outkasts</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>7</td>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td>11</td>
            <td class="left-align">Lucas</td>
            <td class="left-align" style="white-space: nowrap;">Herbert St Hermits</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>-</td>
            <td>0,000.00</td>
            <td>0,000.00</td>
            <td>00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="left-data">* <em>clinched playoff berth</em></p>
    <p class="left-data">+ <em>clinched conference championship & first round bye</em></p>
  </div>

  <div class="section-title">
    <h2 class="underline">Statistics</h2>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Regular Season</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Season Finish">Fin</abbr></th>
            <th><abbr title="Transactions">Txn</abbr></th>
            <th><abbr title="Trades">Trd</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Jorden</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Juice</td>
            <td class="left-align">Macdaddys</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Lucas</td>
            <td class="left-align" style="white-space: nowrap;">Herbert St Hermits</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Scott</td>
            <td class="left-align">Outkasts</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr>
            <td class="left-align">Shawn</td>
            <td class="left-align">45ers</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
          <tr class="career-stats">
            <td>Average</td>
            <td class="left-align"></td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="right-data">.000</td>
            <td>0</td>
            <td>00</td>
            <td>0</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">0,000.00</td>
            <td class="right-data">000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Advanced</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="ASMC Power Ranking">APR</abbr></th>
            <th><abbr title="ASMC Power Ranking Plus">APR+</abbr></th>
            <th><abbr title="Legacy Score">LS</abbr></th>
            <th><abbr title="Expected Wins">ExW</abbr></th>
            <th><abbr title="Expected Losses">ExL</abbr></th>
            <th><abbr title="Expected Winning Percentage">ExP</abbr></th>
            <th><abbr title="Maximum Points For">MPF</abbr></th>
            <th><abbr title="Maximum Points Differential">MPD</abbr></th>
            <th><abbr title="Maximum Points Differential Per Game">MPD/G</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Jorden</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Juice</td>
            <td class="left-align">Macdaddys</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Lucas</td>
            <td class="left-align" style="white-space: nowrap;">Herbert St Hermits</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Scott</td>
            <td class="left-align">Outkasts</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr>
            <td class="left-align">Shawn</td>
            <td class="left-align">45ers</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
          <tr class="career-stats">
            <td>Average</td>
            <td class="left-align"></td>
            <td></td>
            <td></td>
            <td class="right-data">000.00</td>
            <td>100</td>
            <td>100</td>
            <td>00</td>
            <td>00</td>
            <td class="right-data">.000</td>
            <td>0,000.00</td>
            <td>-000.00</td>
            <td>-00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Playoffs</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="Byes">Byes</abbr></th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
          <tr>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
          <tr class="career-stats">
            <td colspan="4" class="left-align">Average</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Championship</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>0.00</td>
          </tr>
          <tr>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>0.00</td>
          </tr>
          <tr class="career-stats">
            <td colspan="4" class="left-align">Average</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>.000</td>
            <td>000.00</td>
            <td>000.00</td>
            <td>00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Per Game</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th colspan="4"></th>            
            <th colspan="3">Regular Season</th>
            <th colspan="3">Playoffs</th>
            <th colspan="3">Championship</th>
          </tr>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="Points For/Game">PF/G</abbr></th>
            <th><abbr title="Points Against/Game">PA/G</abbr></th>
            <th><abbr title="Point Spread/Game">PS/G</abbr></th>
            <th><abbr title="Points For/Game">PF/G</abbr></th>
            <th><abbr title="Points Against/Game">PA/G</abbr></th>
            <th><abbr title="Point Spread/Game">PS/G</abbr></th>
            <th><abbr title="Points For/Game">PF/G</abbr></th>
            <th><abbr title="Points Against/Game">PA/G</abbr></th>
            <th><abbr title="Point Spread/Game">PS/G</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="average-stats" rowspan="10" colspan="3"></td>
          </tr>
          <tr>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Jorden</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="average-stats" rowspan="6" colspan="3"></td>
          </tr>
          <tr>
            <td class="left-align">Juice</td>
            <td class="left-align">Macdaddys</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Lucas</td>
            <td class="left-align" style="white-space: nowrap;">Herbert St Hermits</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Scott</td>
            <td class="left-align">Outkasts</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr>
            <td class="left-align">Shawn</td>
            <td class="left-align">45ers</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
          <tr class="career-stats">
            <td>Average</td>
            <td colspan="3"></td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">000.00</td>
            <td class="right-data">00.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Best Ball</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th colspan="4"></th>            
            <th colspan="3">Actual</th>
            <th colspan="3">Expected</th>
          </tr>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="Actual Wins">Wins</abbr></th>
            <th><abbr title="Actual Losses">Losses</abbr></th>
            <th><abbr title="Actual Win Percentage">Pct</abbr></th>
            <th><abbr title="Expected Wins">Wins</abbr></th>
            <th><abbr title="Expected Losses">Losses</abbr></th>
            <th><abbr title="Expected Win Percentage">Pct</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Jorden</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Juice</td>
            <td class="left-align">Macdaddys</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Lucas</td>
            <td class="left-align">Herbert St Hermits</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Scott</td>
            <td class="left-align">Outkasts</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr>
            <td class="left-align">Shawn</td>
            <td class="left-align">45ers</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
          <tr class="career-stats">
            <td>Average</td>
            <td colspan="3"></td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="right-data">.000</td>
            <td class="">00</td>
            <td class="">00</td>
            <td class="right-data">.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="section-title">
    <h2 class="underline">Projected Standings</h2>
  </div>

  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-hover standard-stats full-width draft-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Ties">T</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Games Behind">GB</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="e-conference-header" colspan="13">
              <strong>Eastern Conference</strong>
            </td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Atlantic Division</strong></td>
          </tr>
          <tr>
            <td>1</td>
            <td class="left-align">Cameron</td>
            <td class="left-align">White Panthers*+</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>11</td>
            <td>2</td>
            <td>0</td>
            <td>.846</td>
            <td>-</td>
            <td>1,796.77</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="left-align">Shawn</td>
            <td class="left-align">45ers*</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>10</td>
            <td>3</td>
            <td>0</td>
            <td>.769</td>
            <td>-</td>
            <td>1,796.91</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>9</td>
            <td class="left-align">Brian</td>
            <td class="left-align">Cowboys</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>4</td>
            <td>9</td>
            <td>0</td>
            <td>.308</td>
            <td>6</td>
            <td>1,720.62</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Midwest Division</strong></td>
          </tr>
          <tr>
            <td>4</td>
            <td class="left-align">Juice</td>
            <td class="left-align">Macdaddys*</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>9</td>
            <td>4</td>
            <td>0</td>
            <td>.692</td>
            <td>-</td>
            <td>1,766.45</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>6</td>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves*</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>7</td>
            <td>6</td>
            <td>0</td>
            <td>.538</td>
            <td>2</td>
            <td>1,774.78</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>10</td>
            <td class="left-align">Dan</td>
            <td class="left-align">Baba Yagas</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>4</td>
            <td>9</td>
            <td>0</td>
            <td>.308</td>
            <td>5</td>
            <td>1,704.83</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <td class="w-conference-header" colspan="13">
              <strong>Western Conference</strong>
            </td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Mountain Division</strong></td>
          </tr>
          <tr>
            <td>3</td>
            <td class="left-align">Caleb</td>
            <td class="left-align">Leprechauns*+</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>9</td>
            <td>4</td>
            <td>0</td>
            <td>.692</td>
            <td>-</td>
            <td>1,798.01</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>8</td>
            <td class="left-align">Jorden</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>6</td>
            <td>7</td>
            <td>0</td>
            <td>.462</td>
            <td>3</td>
            <td>1,732.60</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>12</td>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>1</td>
            <td>12</td>
            <td>0</td>
            <td>.077</td>
            <td>8</td>
            <td>1,631.30</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="average-stats" colspan="13"><strong>Pacific Division</strong></td>
          </tr>
          <tr>
            <td>5</td>
            <td class="left-align">Scott</td>
            <td class="left-align">Outkasts*</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>8</td>
            <td>5</td>
            <td>0</td>
            <td>.615</td>
            <td>-</td>
            <td>1,772.16</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>7</td>
            <td class="left-align">Jacob</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>7</td>
            <td>6</td>
            <td>0</td>
            <td>.538</td>
            <td>1</td>
            <td>1,772.29</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
          <tr>
            <td>11</td>
            <td class="left-align">Lucas</td>
            <td class="left-align" style="white-space: nowrap;">Herbert St Hermits</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td>13</td>
            <td>2</td>
            <td>11</td>
            <td>0</td>
            <td>.154</td>
            <td>6</td>
            <td>1,657.95</td>
            <td>TBD</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="left-data">* <em>clinched playoff berth</em></p>
    <p class="left-data">+ <em>clinched conference championship & first round bye</em></p>
  </div>

    

</div>

<%- include("../partials/footer") %>
