<%- include("partials/headers/main") %>

<div class="container">
  <!-- <div class="container-fluid">
    <img src="/images/news_banner.png" alt="" class="banner" />
  </div> -->

  <div class="container-fluid">
    <div class="container-fluid article-parent left-align">
      <a href="/news">Back to News</a>
    </div>
    <div class="container-fluid article-parent left-align">
      <p>Monday, January 18, 2020 6:45 PM</p>
      <br />
      <h1>2020 Postseason Awards</h1>
      <br />
      <h5>Announcement of the 2020 ASMC Postseason Award winners.</h5>
    </div>
    <div>
      <img src="/images/mahomes.jpg" alt="" class="blog-photo" />
    </div>
    <div>
      <p class="container-fluid article-parent left-align">
        CLINTON - The Alliance of Sunday Morning Chugs Dynasty Football League
        has wrapped on it's inaugural season. <br /><br />Below we look at each
        award for find the winner, nominees and votes. <br /><br />

        <span class="team-article">Robert Kraft Trophy</span>
        <br />
        The Kraft Trophy goes to the owner of the year as voted by the League.
        <br /><br />
        <span class="player-article">Winner: Cameron, White Panthers</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Cameron, White Panthers (6: Scott, Morgan, Jorden, Juice, Brian, Ethan)
        <br />
        Caleb, Jeff City Leprechauns (5: Jacob, Lucas, Shawn, Dan, Cameron)
        <br />
        Juice, Midwest Macdaddys (1: Caleb)
        <br /><br />

        <span class="team-article">Mike Brown Trophy</span>
        <br />
        The Brown Trophy goes to the worst owner of the year as voted by the
        League.
        <br /><br />
        <span class="player-article">Winner: Dan, Baba Yagas</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Dan, Baba Yagas (10: Jacob, Scott, Shawn, Lucas, Morgan, Ethan, Jorden,
        Juice, Caleb, Cameron)
        <br />
        Morgan, Direwolves (2: Dan, Brian)
        <br /><br />

        <span class="team-article">Tom Brady Trophy</span>
        <br />
        The Brady Trophy goes to the owner with the best 2020 draft pick as
        voted by the League.
        <br /><br />
        <span class="player-article">Winner: Cameron, White Panthers</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Cameron, White Panthers - James Robinson (9: Jacob, Scott, Lucas,
        Morgan, Ethan, Juice, Caleb, Cameron, Brian)
        <br />
        Lucas, Herbert St Hermits - Justin Jefferson (2: Shawn, Jorden)
        <br />
        Ethan, Silverbacks - TJ Hockenson (1: Dan)
        <br /><br />

        <span class="team-article">Ryan Leaf Trophy</span>
        <br />
        The Leaf Trophy goes to the owner with the worst 2020 draft pick as
        voted by the League.
        <br /><br />
        <span class="player-article">Winner: Brian, Quarantine Cowboys</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Brian, Quarantine Cowboys - Derrius Guice (9: Jacob, Morgan, Ethan,
        Jorden, Juice, Caleb, Dan, Cameron, Brian)
        <br />
        Caleb, Jeff City Leprechauns - Leonard Fournette (2: Scott, Lucas)
        <br />
        Dan, Baba Yagas - Zack Ertz (1: Shawn)
        <br /><br />

        <span class="team-article">Drew Brees Trophy</span>
        <br />
        The Brees Trophy goes to the owner with the best free agent/waiver
        acquisition of the year as voted by the League.
        <br /><br />
        <span class="player-article">Winner: Brian, Quarantine Cowboys</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Brian, Quarantine Cowboys - Mike Davis (6: Lucas, Ethan, Juice, Caleb,
        Cameron, Brian)
        <br />
        Shawn, 45ers - Robert Tonyan (2: Scott, Morgan)
        <br />
        Jacob, Slayton Slayerz - Logan Thomas (2: Jacob, Shawn)
        <br />
        Jorden, Goathouse Alums - Wayne Gallman (2: Jorden, Dan)
        <br /><br />

        <span class="team-article">Bill O'Brien Trophy</span>
        <br />
        The O'Brien Trophy goes to the owner with the worst trade of the year as
        voted by the League.
        <br /><br />
        <span class="player-article">Winner: Dan, Baba Yagas</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Dan, Baba Yagas (7: Jacob, Scott, Lucas, Morgan, Ethan, Jorden, Brian)
        <br />
        Jorden, Goathouse Alums (3: Shawn, Juice, Cameron)
        <br />
        Caleb, Jeff City Leprechauns (2: Caleb, Dan)
        <br /><br />

        <span class="team-article">Pac-Man Jones Award</span>
        <br />
        The Pac-Man Award goes to the luckiest owner of the year as voted by the
        League.
        <br /><br />
        <span class="player-article">Winner: Caleb, Jeff City Leprechauns</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Caleb, Jeff City Leprechauns (11: Jacob, Scott, Shawn, Lucas, Morgan,
        Ethan, Jorden, Juice, Caleb, Cameron, Brian)
        <br />
        Juice, Midwest Macdaddys (1: Dan)
        <br /><br />

        <span class="team-article">Takeo Spikes Trophy</span>
        <br />
        The Spikes Award goes to the unluckiest owner of the year as voted by
        the League.
        <br /><br />
        <span class="player-article">Winner: Brian, Quarantine Cowboys</span>
        <br /><br />
        Nominees (votes received):
        <br /><br />
        Brian, Quarantine Cowboys (7: Jacob, Shawn, Morgan, Ethan, Juice, Caleb,
        Brian)
        <br />
        Lucas, Herbert St Hermits (5: Scott, Lucas, Jorden, Dan, Cameron)
        <br /><br />
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
