<%- include("partials/headers/main") %>

<div class="container">
  <!-- <div class="container-fluid">
    <img src="/images/news_banner.png" alt="" class="banner" />
  </div> -->

  <div class="container-fluid">
    <div class="container-fluid article-parent left-align">
      <a href="/news">Back to News</a>
    </div>
    <div class="container-fluid article-parent left-align">
      <p>Sunday, March 21, 2021 12:30 PM</p>
      <br />
      <h1>
        TRADE: White Panthers' Adams on the move to catch passes from Russell
        Wilson
      </h1>
      <br />
      <h5>
        Macdaddys send multiple future assets to White Panthers for WR Adams.
      </h5>
    </div>
    <div>
      <img src="/images/trade_offer.jpeg" alt="" class="blog-photo" />
    </div>
    <div>
      <p class="container-fluid article-parent left-align">
        CLINTON - The ASMC offseason has been buzzing early with a trade flurry
        as the 2021 league year opened. The latest trade involves a couple of
        2020 Chug Cup playoff teams as the Midwest Macdaddys trade multiple
        first round picks for Green Bay wide receiver Davante Adams.
        <br /><br />

        The full trade includes the White Panthers sending the 2021 3.07 rookie
        pick in addition to Adams to the Macdaddys for Jets receiver Corey
        Davis, Falcons running back Ito Smith, the 2021 1.10, and the Macdaddys
        2022 first and second round picks. <br /><br />

        Consensus around the league likes the trade for the Macdaddys. One owner
        was quoted saying "(Macdaddys owner) Juice gets the edge on this", while
        another owner was quoted saying "Good for you, (juice)". <br /><br />

        Silverbacks owner Ethan Morris, wrote "it's just a ton" in reference to
        the amount of assets the Macdaddys gave up. "I think (White Panthers
        owner) Cameron did well securing top dollar for a soon-to-be declining
        asset in Adams at his peak. That's what a good dynasty manager should
        do," said Morris. "Adams gives the Macdaddys a top tier starting roster
        with a good chance to compete for the 2021 Chug Cup." <br /><br />

        Both the Panthers and Macdaddys will look to get back to the playoffs
        for a second consecutive year when the 2021 NFL season returns in
        September.
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
