<%- include("partials/headers/main") %>

<div class="container">
  <!-- <div class="container-fluid">
    <img src="/images/news_banner.png" alt="" class="banner" />
  </div> -->

  <div class="container-fluid">
    <div class="container-fluid article-parent left-align">
      <a href="/news">Back to News</a>
    </div>
    <div class="container-fluid article-parent left-align">
      <p>Wednesday, July 6, 2020 08:11 AM</p>
      <br />
      <h1>2020 Projected Standings</h1>
      <br />
      <h5>
        The ASMC released the projected standings for the upcoming 2020 season.
      </h5>
    </div>
    <div>
      <img src="/images/projected_standings.png" alt="" class="blog-photo" />
    </div>
    <div>
      <p class="container-fluid article-parent left-align">
        CLINTON - The White Panthers find themselves on top of the world after
        the projected standings for the upcoming season were released. An 11-2
        record was projected for the White Panthers, who found themselves on the
        bad end of the worse slide in the draft power rankings. On the other end
        of the projects, the Silverbacks, led by the ASMC commissioner, was
        projected for an abysmal 1-12 record. The talk of the town was most
        certainly Slayton Slayerz, who are projected to barely miss the
        playoffs, even with an above .500 record. Full 2020 projected win totals
        are scheduled to be released soon.
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
