<%- include("partials/headers/main") %>

<div class="container">
  <!-- <div class="container-fluid">
    <img src="/images/news_banner.png" alt="" class="banner" />
  </div> -->

  <div class="container-fluid">
    <div class="container-fluid article-parent left-align">
      <a href="/news">Back to News</a>
    </div>
    <div class="container-fluid article-parent left-align">
      <p>Wednesday, July 6, 2020 10:35 AM</p>
      <br />
      <h1>2020 Projected Win Totals</h1>
      <br />
      <h5>
        The ASMC released the projected win totals for the upcoming 2020 season.
      </h5>
    </div>
    <div>
      <img src="/images/ou_odds.png" alt="" class="blog-photo" />
    </div>
    <div>
      <p class="container-fluid article-parent left-align">
        CLINTON - Three teams lead the league with win totals of 7.5, including
        the White Panthers, Jeff City Leprechauns, and 45ers. Five teams
        (Macdaddys, Direwolves, Slayton Slayerz, Goathouse Alums, and Outkasts)
        came in with a win total of 6.5 games. Quarantine Cowboys and Baba Yagas
        finished with 5.5 projected wins, while the Herbert St Hermits and
        Silverbacks brought up the rear with 4.5 projected wins each.
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
