<%- include("partials/headers/main") %>

<div class="container">
  <!-- <div class="container-fluid">
    <img src="/images/news_banner.png" alt="" class="banner" />
  </div> -->

  <div class="container-fluid">
    <div class="container-fluid article-parent left-align">
      <a href="/news">Back to News</a>
    </div>
    <div class="container-fluid article-parent left-align">
      <p>Wednesday, July 1, 2020 05:11 PM</p>
      <br />
      <h1>Updated Draft Power Rankings Released</h1>
      <br />
      <h5>
        The ASMC released the league-voted power rankings for the startup draft.
        The Direwolves took over the top spot through sixteen rounds.
      </h5>
    </div>
    <div>
      <img src="/images/draft-power-rankings-2.png" alt="" class="blog-photo" />
    </div>
    <div>
      <p class="container-fluid article-parent left-align">
        CLINTON - The Direwolves took over as the number one ranked team in the
        power rankings through round 16. With the help of five first place
        votes, the Direwolves received an astounding 21 extra votes since the
        week 8 rankings. Bringing up the rear was a new franchise, the Herbert
        St Hermits, who finished with the lowest amount of votes, including the
        second largest drop in votes (17). The previously top-ranked Goathouse
        Alums finished only 5 votes out from keeping his spot on top, while
        finishing with 5 first place votes. The power rankings will be updated
        after round 24.
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
