<%- include("partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/banner.png" alt="" class="banner" />
  </div>
  <div class="container-fluid">
    <div class="home-title">
      <div>
        <h5 class="underline bottom-border"><strong>Featured</strong></h5>
        <br />
      </div>
      <div class="container-fluid row">
        <div class="col-md-8 padding-bottom">
          <a href="/2021-asmc-awards"><img src="/images/mahomes.jpg" alt="" class="blog-image" /></a>
          <a href="/2021-asmc-awards" class="no-underline"><div class="blog-caption">
            <h3 class="">NEW: 2020 ASMC Award Winners</h3>          
            <p class="">The ASMC Commissioner's office releases the 2020 ASMC Postseason Award Winners and votes.</p>
          </div></a>
        </div>
        <div class="col-md-4 padding-bottom">
          <div class="news">
            <h6 class="underline bottom-border left-align-no-pad"><strong>Latest News</strong></h6>
            <div class="news-text">
              <a href="/article6" class="no-underline"><p class="left-align headlines">Chug Illustrated Vol 1.</p></a>
              <a href="/article5" class="no-underline"><p class="left-align headlines">Startup Draft Recap</p></a>
              <a href="/article4" class="no-underline"><p class="left-align headlines">2020 Projected Wins</p></a>
              <a href="/article3" class="no-underline"><p class="left-align headlines">2020 Projected Standings</p></a>
              <a href="/news"><p class="left-align">More News</p></a>
            </div>
          </div>
          <div class="sleeper-parent">
            <a href="https://sleeper.app/leagues/570110971838902272" target="_blank"><img src="/images/sleeper-graphic.png" alt="" class="sleeper-pic"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="home-title">
      <div>
        <h5 class="underline bottom-border"><strong>Video</strong></h5>
        <br />
      </div>
      <div class="container-fluid row">
        <div class="col-md-6 no-padding-award">
          <img src="/images/youtube-graphic.png" alt="" class="youtube">
        </div>
        <div class="col-md-6 no-padding-award news">
          <h3>Subscribe to us on YouTube</h3>
          <p class="double-top-bottom-padding">Subscribe to the Alliance of Sunday Morning Chugs YouTube account for weekly recaps, special events, and exclusive long form content from the league.</p>
          <a href="https://www.youtube.com/channel/UCWm1RcveOIjaq4pxaw1QuwQ/" target="_blank"><button>Subscribe Here</button></a>
        </div>
      </div>
      <div class="container-fluid row">
        <div class="col-md-6 no-padding-award">
          <img src="/images/twitch-graphic.png" alt="" class="youtube">
        </div>
        <div class="col-md-6 no-padding-award news">
          <h3>Follow us on Twitch</h3>
          <p class="double-top-bottom-padding">Follow the Alliance of Sunday Morning Chugs Twitch account for live streams and special events from the league.</p>
          <a href="https://twitch.tv/ASMCdynasty" target="_blank"><button>Follow Us</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container no-padding-award">
  <div class="row average-stats container-fluid">
    <div class="col-md-3 double-top-bottom-padding">
      <h5 class="underline">Atlantic</h5>
      <a href="/owners/brian"><img src="/images/brian/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/cameron"><img src="/images/cameron/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/shawn"><img src="/images/shawn/logo.png" alt="" class="nav-team-logo" /></a>
    </div>
    <div class="col-md-3 double-top-bottom-padding">
      <h5 class="underline">Midwest</h5>
      <a href="/owners/dan"><img src="/images/dan/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/juice"><img src="/images/juice/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/morgan"><img src="/images/morgan/logo.png" alt="" class="nav-team-logo" /></a>
    </div>
    <div class="col-md-3 double-top-bottom-padding">
      <h5 class="underline">Pacific</h5>
      <a href="/owners/jacob"><img src="/images/jacob/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/lucas"><img src="/images/lucas/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/scott"><img src="/images/scott/logo.png" alt="" class="nav-team-logo" /></a>
    </div>
    <div class="col-md-3 double-top-bottom-padding">
      <h5 class="underline">Mountain</h5>
      <a href="/owners/caleb"><img src="/images/caleb/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/ethan"><img src="/images/ethan/logo.png" alt="" class="nav-team-logo" /></a>
      <a href="/owners/jorden"><img src="/images/jorden/logo.png" alt="" class="nav-team-logo"></a>
    </div>
  </div>
</div>

<%- include("partials/footer") %>

</div>
