<%- include("partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/franchise_banner.png" alt="" class="banner" />
  </div>

  <div class="container-fluid row">
    <div class="col-md-12">
      <img
        src="/images/eastern.png"
        alt="Eastern Conference"
        class="conference-logo"
      />
      <h1><strong>Eastern Conference</strong></h1>
    </div>
    <div class="col-md-12">
      <h3 class="double-top-bottom-padding underline">Atlantic Division</h3>
    </div>
    <div class="col-md-4">
      <a href="/owners/brian"
        ><img src="/images/brian/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/cameron"
        ><img src="/images/cameron/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/shawn"
        ><img src="/images/shawn/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-12">
      <h3 class="double-top-bottom-padding underline">Midwest Division</h3>
    </div>
    <div class="col-md-4">
      <a href="/owners/dan"
        ><img src="/images/dan/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/juice"
        ><img src="/images/juice/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/morgan"
        ><img src="/images/morgan/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
  </div>
  <br />
  <br />
  <div class="container-fluid row">
    <div class="col-md-12">
      <img
        src="/images/western.png"
        alt="Western Conference"
        class="conference-logo"
      />
      <h1><strong>Western Conference</strong></h1>
    </div>
    <div class="col-md-12">
      <h3 class="double-top-bottom-padding underline">Mountain Division</h3>
    </div>
    <div class="col-md-4">
      <a href="/owners/caleb"
        ><img src="/images/caleb/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/ethan"
        ><img
          src="/images/ethan/team_card.png"
          alt="Silverbacks"
          class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/jorden"
        ><img
          src="/images/jorden/team_card.png"
          alt="Goathouse Alums"
          class="owners-logo"
      /></a>
    </div>
    <div class="col-md-12">
      <h3 class="double-top-bottom-padding underline">Pacific Division</h3>
    </div>
    <div class="col-md-4">
      <a href="/owners/jacob"
        ><img
          src="/images/jacob/team_card.png"
          alt="Slayton Slayerz"
          class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/lucas"
        ><img src="/images/lucas/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
    <div class="col-md-4">
      <a href="/owners/scott"
        ><img src="/images/scott/team_card.png" alt="" class="owners-logo"
      /></a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
