<%- include("partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/records_banner.png" alt="" class="banner" />
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Regular Season</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Best Winning Percentage, Career</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Best Winning Percentage, Season (Overall)
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Best Winning Percentage, Season (Regular Season)
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Wins, Career</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Wins, Season (Overall)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Wins, Season (Regular Season)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Winning Seasons</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Consecutive Winning Seasons</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most 10-Win Seasons, Regular Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Consecutive Winning Seasons</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Longest Winning Streak</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Longest Winning Streak to Begin Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Longest Losing Streak</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Longest Losing Streak to Begin Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Fastest to 25 Wins (# of games)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fastest to 50 Wins (# of games)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Fastest to 100 Wins (# of games)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fastest to 25 Losses (# of games)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Fastest to 50 Losses (# of games)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fastest to 100 Losses (# of games)</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Playoffs</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Most Playoff Appearances</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Playoff Games Played
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Most Playoff Wins
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most First-Round Byes</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Consecutive Playoff Appearances</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Longest Active Playoff Appearance Streak</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Most Consecutive Seasons Without Playoff Appearance
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Longest Active Streak of Seasons Without Playoff Appearance
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Longest Losing Streak to Begin Season While Making Playoffs
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Longest Winning Streak to Begin Season While Missing Playoffs
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Championships</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Most Championship Games Played</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Championship Game Wins
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Championship Game Losses</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Longest Losing Streak to Begin Season While Making Championship
              Game
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Points</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="career-stats">
            <td colspan="5" class="left-align">ASMC Power Ranking:</td>
          </tr>
          <tr>
            <td class="left-align">Highest Overall APR, Career</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Highest Overall APR+, Career
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Highest APR, Season
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Highest APR+, Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Lowest Overall APR, Career</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Lowest Overall APR+, Career
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Lowest APR, Season
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Lowest APR+, Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Highest APR While Missing Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Lowest APR While Making Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Team Points, Most:</td>
          </tr>
          <tr>
            <td class="left-align">Most Points, Career</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points, Season
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Most Points, Single Week
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points, Championship Game</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points, Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points While Missing Playoffs, Season
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Most Points in a Losing Effort, Game
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most 2,000 Point Seasons
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Team Points, Least:</td>
          </tr>
          <tr>
            <td class="left-align">Fewest Points, Career</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Fewest Points, Season
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Fewest Points, Single Week
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fewest Points, Championship Game</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Fewest Points While Making Playoffs, Season
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Fewest Points In A Winning Effort, Game
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Margin of Victory, Largest:</td>
          </tr>
          <tr>
            <td class="left-align">Single Week</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Single Week, Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Single Week, Championships</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Margin of Victory, Smallest:</td>
          </tr>
          <tr>
            <td class="left-align">Single Week</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Single Week, Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Single Week, Championships</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Strength of Schedule:</td>
          </tr>
          <tr>
            <td class="left-align">Most Points Against in a Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points Against in a Career, Average</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Least Points Against in a Season</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Least Points Against in a Career, Average
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Best Point Differential in a Season, Average
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Worst Point Differential in a Season, Average
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Player Records</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Player</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Most Points in a Season, QB</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, QB
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, RB</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, RB
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, WR</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, WR
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, TE</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, TE
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, DL</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, DL
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, LB</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, LB
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, DB</td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points in a Single Game, DB
            </td>
            <td>-</td>
            <td>Player Name</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
