<%- include("partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/records_banner.png" alt="" class="banner" />
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Regular Season</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Best Winning Percentage, Career</td>
            <td>.769</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Best Winning Percentage, Season (Overall)
            </td>
            <td>.769</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">
              Best Winning Percentage, Season (Regular Season)
            </td>
            <td>.769</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Wins, Career</td>
            <td>10</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Wins, Season (Overall)</td>
            <td>10</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Wins, Season (Regular Season)</td>
            <td>10</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align" rowspan="6">Most Winning Seasons</td>
            <td rowspan="6">1</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td rowspan="6">2020</td>
          </tr>
          <tr>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
          </tr>
          <tr>
            <td class="left-align">Slayton Slayerz</td>
            <td class="left-align">Jacob</td>
          </tr>
          <tr>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
          </tr>
          <tr>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
          </tr>
          <tr>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align" rowspan="6">
              Most Consecutive Winning Seasons
            </td>
            <td rowspan="6">1</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td rowspan="6">2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Slayton Slayerz</td>
            <td class="left-align">Jacob</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
          </tr>
          <tr>
            <td class="left-align">Most 10-Win Seasons, Regular Season</td>
            <td>1</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Longest Winning Streak</td>
            <td>7</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Longest Winning Streak to Begin Season</td>
            <td>7</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Longest Losing Streak</td>
            <td>5</td>
            <td class="left-align">Baba Yagas</td>
            <td class="left-align">Dan</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align" rowspan="2">
              Longest Losing Streak to Begin Season
            </td>
            <td rowspan="2">4</td>
            <td class="left-align">Herbert St Hermits</td>
            <td class="left-align">Lucas</td>
            <td rowspan="2">2020</td>
          </tr>
          <tr>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fastest to 25 Wins (# of games)</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Fastest to 50 Wins (# of games)</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fastest to 100 Wins (# of games)</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Fastest to 25 Losses (# of games)</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fastest to 50 Losses (# of games)</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Fastest to 100 Losses (# of games)</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Playoffs</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align" rowspan="6">Most Playoff Appearances</td>
            <td rowspan="6">1</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td rowspan="6">2020</td>
          </tr>
          <tr>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
          </tr>
          <tr>
            <td class="left-align">Slayton Slayerz</td>
            <td class="left-align">Jacob</td>
          </tr>
          <tr>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
          </tr>
          <tr>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
          </tr>
          <tr>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Playoff Games Played</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Playoff Wins</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most First-Round Byes</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Consecutive Playoff Appearances</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Longest Active Playoff Appearance Streak</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Most Consecutive Seasons Without Playoff Appearance
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Longest Active Streak of Seasons Without Playoff Appearance
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">
              Longest Losing Streak to Begin Season While Making Playoffs
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Longest Winning Streak to Begin Season While Missing Playoffs
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Championships</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Most Championship Games Played</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Championship Game Wins</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="left-align">Most Championship Game Losses</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Longest Losing Streak to Begin Season While Making Championship
              Game
            </td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Points</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="career-stats">
            <td colspan="5" class="left-align">ASMC Power Ranking:</td>
          </tr>
          <tr>
            <td class="left-align">Highest Overall APR, Career</td>
            <td>151.45</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Highest Overall APR+, Career</td>
            <td>122</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Highest APR, Season</td>
            <td>151.45</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Highest APR+, Season</td>
            <td>122</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Lowest Overall APR, Career</td>
            <td>104.84</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Lowest Overall APR+, Career</td>
            <td>85</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Lowest APR, Season</td>
            <td>104.84</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Lowest APR+, Season</td>
            <td>85</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Highest APR While Missing Playoffs</td>
            <td>121.81</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Lowest APR While Making Playoffs</td>
            <td>118.07</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td>2020</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Team Points, Most:</td>
          </tr>
          <tr>
            <td class="left-align">Most Points, Career</td>
            <td>1958.08</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points, Season</td>
            <td>1858.58</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points, Single Week</td>
            <td>202.42</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points, Championship Game</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points, Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Most Points While Missing Playoffs, Season
            </td>
            <td>1605.60</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Losing Effort, Game</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most 2,000 Point Seasons</td>
            <td>-</td>
            <td class="left-align">-</td>
            <td class="left-align">-</td>
            <td>-</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Team Points, Least:</td>
          </tr>
          <tr>
            <td class="left-align">Fewest Points, Career</td>
            <td>1437.74</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fewest Points, Season</td>
            <td>1437.74</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Fewest Points, Single Week</td>
            <td>69.72</td>
            <td class="left-align">Silverbacks</td>
            <td class="left-align">Ethan</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fewest Points, Championship Game</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">
              Fewest Points While Making Playoffs, Season
            </td>
            <td>1526.94</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Fewest Points In A Winning Effort, Game</td>
            <td>99.38</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td>2020</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Margin of Victory, Largest:</td>
          </tr>
          <tr>
            <td class="left-align">Single Week</td>
            <td>124.36</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Single Week, Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Single Week, Championships</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Margin of Victory, Smallest:</td>
          </tr>
          <tr>
            <td class="left-align">Single Week</td>
            <td>1.50</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Single Week, Playoffs</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Single Week, Championships</td>
            <td>-</td>
            <td class="left-align">Franchise Name</td>
            <td class="left-align">Owner Name</td>
            <td>2020</td>
          </tr>
          <tr class="career-stats">
            <td colspan="5" class="left-align">Strength of Schedule:</td>
          </tr>
          <tr>
            <td class="left-align">Most Points Against in a Season</td>
            <td>1774.12</td>
            <td class="left-align">Herbert St Hermits</td>
            <td class="left-align">Lucas</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points Against in a Career, Average</td>
            <td>136.47</td>
            <td class="left-align">Herbert St. Hermits</td>
            <td class="left-align">Lucas</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Least Points Against in a Season</td>
            <td>1409.96</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Least Points Against in a Career, Average
            </td>
            <td>108.46</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">
              Best Point Differential in a Season, Average
            </td>
            <td>25.89</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">
              Worst Point Differential in a Season, Average
            </td>
            <td>-17.69</td>
            <td class="left-align">Herbert St Hermits</td>
            <td class="left-align">Lucas</td>
            <td>2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Player Records</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table blog-image">
        <thead>
          <tr>
            <th>Category</th>
            <th>Record</th>
            <th>Player</th>
            <th>Franchise</th>
            <th>Owner</th>
            <th>Year(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Most Points in a Season, QB</td>
            <td>342.70</td>
            <td class="left-align">Patrick Mahomes</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, QB</td>
            <td>44.00</td>
            <td class="left-align">Patrick Mahomes</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, RB</td>
            <td>257.90</td>
            <td class="left-align">Dalvin Cook</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, RB</td>
            <td>47.60</td>
            <td class="left-align">Dalvin Cook</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, WR</td>
            <td>237.90</td>
            <td class="left-align">Tyreek Hill</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, WR</td>
            <td>51.40</td>
            <td class="left-align">Tyreek Hill</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, TE</td>
            <td>198.56</td>
            <td class="left-align">Travis Kelce</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, TE</td>
            <td>38.50</td>
            <td class="left-align">Darren Waller</td>
            <td class="left-align">Outkasts</td>
            <td class="left-align">Scott</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, DL</td>
            <td>84.50</td>
            <td class="left-align">TJ Watt</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, DL</td>
            <td>20.00</td>
            <td class="left-align">Chase Young</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, LB</td>
            <td>120.50</td>
            <td class="left-align">Roquan Smith</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, LB</td>
            <td>20.00</td>
            <td class="left-align">Devin White</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td>2020</td>
          </tr>
          <tr>
            <td class="left-align">Most Points in a Season, DB</td>
            <td>110.50</td>
            <td class="left-align">Budda Baker</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td>2020</td>
          </tr>
          <tr class="average-stats">
            <td class="left-align">Most Points in a Single Game, DB</td>
            <td>29.00</td>
            <td class="left-align">Jeremy Chinn</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td>2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
