<%- include("partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/shop_banner.png" alt="" class="banner" />
  </div>
  <div class="container-fluid">
    <h2 class="padding-bottom">Shop By Team</h2>
    <br />
    <div class="row">
      <div class="padding-sides col-md-6">
        <a
          href="https://teamlocker.squadlocker.com/#/lockers/quarantine-cowboys?_k=i09r1h"
          target="_blank"
          ><img src="/images/brian/store_card.png" alt="" class="store-card"
        /></a>
      </div>
      <div class="padding-sides col-md-6">
        <div>
          <a
            href="https://teamlocker.squadlocker.com/#/lockers/jeff-city-leprechauns?_k=w8xocb"
            target="_blank"
            ><img src="/images/caleb/store_card.png" alt="" class="store-card"
          /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padding-sides col-md-6">
        <a
          href="https://teamlocker.squadlocker.com/#/lockers/white-panthers?_k=ktsp9y"
          target="_blank"
          ><img src="/images/cameron/store_card.png" alt="" class="store-card"
        /></a>
      </div>
      <div class="padding-sides col-md-6">
        <div>
          <a
            href="https://teamlocker.squadlocker.com/#/lockers/baba-yagas?_k=t2mcgr"
            target="_blank"
            ><img src="/images/dan/store_card.png" alt="" class="store-card"
          /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padding-sides col-md-6">
        <a
          href="https://teamlocker.squadlocker.com/#/lockers/silverbacks-283714"
          target="_blank"
          ><img src="/images/ethan/store_card.png" alt="" class="store-card"
        /></a>
      </div>
      <div class="padding-sides col-md-6">
        <div>
          <a
            href="https://teamlocker.squadlocker.com/#/lockers/slayton-slayerz?_k=g5f0u9"
            target="_blank"
            ><img src="/images/jacob/store_card.png" alt="" class="store-card"
          /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padding-sides col-md-6">
        <a
          href="https://teamlocker.squadlocker.com/#/lockers/goathouse-alums?_k=j1qfml"
          target="_blank"
          ><img src="/images/jorden/store_card.png" alt="" class="store-card"
        /></a>
      </div>
      <div class="padding-sides col-md-6">
        <div>
          <a
            href="https://teamlocker.squadlocker.com/#/lockers/macdaddys?_k=p1wzln"
            target="_blank"
            ><img src="/images/juice/store_card.png" alt="" class="store-card"
          /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padding-sides col-md-6">
        <a
          href="https://teamlocker.squadlocker.com/#/lockers/herbert-st-hermits?_k=3grbkj"
          target="_blank"
          ><img src="/images/lucas/store_card.png" alt="" class="store-card"
        /></a>
      </div>
      <div class="padding-sides col-md-6">
        <div>
          <a
            href="https://teamlocker.squadlocker.com/#/lockers/direwolves-287507?_k=0zl1w1"
            target="_blank"
            ><img src="/images/morgan/store_card.png" alt="" class="store-card"
          /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="padding-sides col-md-6">
        <a
          href="https://teamlocker.squadlocker.com/#/lockers/outkasts-287511?_k=cbsuzt"
          target="_blank"
          ><img src="/images/scott/store_card.png" alt="" class="store-card"
        /></a>
      </div>
      <div class="padding-sides col-md-6">
        <div>
          <a
            href="https://teamlocker.squadlocker.com/#/lockers/45ers?_k=efsoa8"
            target="_blank"
            ><img src="/images/shawn/store_card.png" alt="" class="store-card"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
