<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/activebets_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/sportsbook/">Summary</a>
      <a class="nav-item nav-link nav-active" href="/sportsbook/bets">Active Bets</a>
      <a class="nav-item nav-link" href="/sportsbook/history"
        >Bet History</a
      >
      <a class="nav-item nav-link" href="/sportsbook/lines">Betting Lines</a>
    </nav>
  </div>
  
  <div class="container-fluid">

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Will the Jets finish as a Top 18 team in total team rushing yards?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Tuesday, July 14, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Side</td>
              <td>Owner</td>
              <td class="right-data">Proj Points</td>
              <td class="right-data">Actual Points</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Leprechauns</td>
              <td>Caleb</td>
              <td class="right-data">Top 18</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td>White Panthers</td>
              <td>Cameron</td>
              <td class="right-data">Bottom 14</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Which team will win the Week 10 matchup?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Tuesday, July 14, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Side</td>
              <td>Owner</td>
              <td class="right-data">Proj Points</td>
              <td class="right-data">Actual Points</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Baba Yagas</td>
              <td>Dan</td>
              <td class="right-data">76.53</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td>White Panthers</td>
              <td>Cameron</td>
              <td class="right-data">77.77</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Will Baba Yagas make the playoffs in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Saturday, July 11, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Team</td>
              <td>Owner</td>
              <td class="right-data">Projected</td>
              <td class="right-data">Final</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Baba Yagas</td>
              <td>Dan</td>
              <td class="right-data">Yes</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td></td>
              <td>Ethan</td>
              <td class="right-data">No</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Macdaddys win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Monday, July 6, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Team</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
              <td class="right-data">Wins</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Macdaddys</td>
              <td>Juice</td>
              <td class="right-data">O 6.5</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td></td>
              <td>Scott</td>
              <td class="right-data">U 6.5</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
        <div class="news news-pic">
          <table class="youtube bets-table blog-caption">
            <tbody>
              <tr class="average-stats">
                <td colspan="5" class="left-align bet-head questions-table">
                  Which running back will have more .5 PPR fantasy points in 2020?
                </td>
              </tr>
              <tr class="bet-date date-table average-stats">
                <td colspan="5" class="bet-date"><em>Monday, July 6, 2020</em></td>
              </tr>
              <tr class="bet-sides">
                <td>Bet</td>
                <td>Player</td>
                <td>Owner</td>
                <td class="right-data">Proj Pts</td>
                <td class="right-data">Actual Pts</td>
              </tr>
              <tr class="bet-sides">
                <td rowspan="2" class="dollar-bet">$20</td>
                <td>Nick Chubb</td>
                <td>Juice</td>
                <td class="right-data">208.9</td>
                <td class="right-data"></td>
              </tr>
              <tr class="bet-sides">
                <td>Kenyan Drake</td>
                <td>Morgan</td>
                <td class="right-data">200.3</td>
                <td class="right-data"></td>
              </tr>
              <tr class="bet-sides">
                <td colspan="5"><em>*Player must play or be (non-injury) eligible to play minimum 14 games.</em></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many touchdowns will Joe Burrow throw for in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Wednesday, July 1, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Player</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
              <td class="right-data">Touchdowns</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Joe Burrow</td>
              <td>Ethan</td>
              <td class="right-data">O 25</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td></td>
              <td>Lucas</td>
              <td class="right-data">U 25</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td colspan="5"><em>*Player must play or be (non-injury) eligible to play in all 16 games.</em></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Will Jonathan Taylor have more than 50% of the carries for the Indianapolis Colts in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Tuesday, June 23, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Sides</td>
              <td>Owner</td>
              <td class="right-data">Proj Yards</td>
              <td class="right-data">Actual %</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Yes</td>
              <td>Jacob</td>
              <td class="right-data">700.5</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td>No</td>
              <td>Ethan</td>
              <td class="right-data"></td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Which running back will have more .5 PPR fantasy points in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Tuesday, June 23, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Player</td>
              <td>Owner</td>
              <td class="right-data">Proj Pts</td>
              <td class="right-data">Actual Pts</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>James Conner</td>
              <td>Jacob</td>
              <td class="right-data">166.6</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td>Austin Ekeler</td>
              <td>Cameron</td>
              <td class="right-data">185.9</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Which running back will have more .5 PPR fantasy points in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Friday, June 19, 2020</em></td>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Player</td>
              <td>Owner</td>
              <td class="right-data">Proj Pts</td>
              <td class="right-data">Actual Pts</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Tarik Cohen</td>
              <td>Morgan</td>
              <td class="right-data">100.9</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td>Zack Moss</td>
              <td>Cameron</td>
              <td class="right-data">94.1</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Who will win Week 11 in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Wednesday, June 10, 2020</td></em>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Side</td>
              <td>Owner</td>
              <td class="right-data">Proj Points</td>
              <td class="right-data">Actual Points</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Who Wins</td>
              <td>Caleb</td>
              <td class="right-data">132.82</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td></td>
              <td>Jorden</td>
              <td class="right-data">131.50</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Who will have the best record in the ASMC in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Wednesday, June 10, 2020</td></em>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Side</td>
              <td>Owner</td>
              <td class="right-data">Proj Wins</td>
              <td class="right-data">Actual Wins</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Best Record</td>
              <td>Caleb</td>
              <td class="right-data">7.5</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td></td>
              <td>Jorden</td>
              <td class="right-data">6.5</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Who will have more fantasy wins in the ASMC in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Tuesday, June 9, 2020</td></em>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Side</td>
              <td>Owner</td>
              <td class="right-data">Proj Wins</td>
              <td class="right-data">Actual Wins</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Most Wins</td>
              <td>Scott</td>
              <td class="right-data">6.5</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td></td>
              <td>Cameron</td>
              <td class="right-data">7.5</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                Will Clyde Edwards-Helaire finish as a Top-10 RB in .5 PPR in
                2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date"><em>Tuesday, June 9, 2020</td></em>
            </tr>
            <tr class="bet-sides">
              <td>Bet</td>
              <td>Side</td>
              <td>Owner</td>
              <td class="right-data">Drafted As</td>
              <td class="right-data">Finished As</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td>Top 10 or Better</td>
              <td>Shawn</td>
              <td class="right-data">RB12</td>
              <td class="right-data"></td>
            </tr>
            <tr class="bet-sides">
              <td>11th or Worse</td>
              <td>Cameron</td>
              <td class="right-data">-</td>
              <td class="right-data"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
    <div class="news news-pic">
      <table class="youtube bets-table blog-caption">
        <tbody>
          <tr class="average-stats">
            <td colspan="5" class="left-align bet-head questions-table">
              Which receiver will have more fantasy points in 2020?
            </td>
          </tr>
          <tr class="bet-date date-table average-stats">
            <td colspan="5" class="bet-date"><em>Friday, June 5, 2020</em></td>
          </tr>
          <tr class="bet-sides">
            <td>Bet</td>
            <td>Player</td>
            <td>Owner</td>
            <td class="right-data">Proj Pts</td>
            <td class="right-data">Actual Pts</td>
          </tr>
          <tr class="bet-sides">
            <td rowspan="2" class="dollar-bet">$20</td>
            <td>Allen Robinson II</td>
            <td>Cameron</td>
            <td class="right-data">153.4</td>
            <td class="right-data"></td>
          </tr>
          <tr class="bet-sides">
            <td>Calvin Ridley</td>
            <td>Jacob</td>
            <td class="right-data">147.0</td>
            <td class="right-data"></td>
          </tr>
          <tr class="bet-sides">
            <td colspan="5"><em>*Injury clause: 10 games played min. If games played are not equal, worst games dropped from player with more games played.</em></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>




















  




  
</div>
</div>
<%- include("../partials/footer") %>
