<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/activebets_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/sportsbook/">Summary</a>
      <a class="nav-item nav-link nav-active" href="/sportsbook/bets"
        >Active Bets</a
      >
      <a class="nav-item nav-link" href="/sportsbook/history">Bet History</a>
      <a class="nav-item nav-link" href="/sportsbook/lines">Betting Lines</a>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="container-fluid career-stats">
      <div class="career-stats">
        <h1>No Pending Bets</h1>
        <h5><a href="/sportsbook/history/">See Bet History Here</a></h5>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
