<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/bets_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/sportsbook/">Summary</a>
      <a class="nav-item nav-link" href="/sportsbook/bets">Active Bets</a>
      <a class="nav-item nav-link nav-active" href="/sportsbook/history"
        >Bet History</a
      >
      <a class="nav-item nav-link" href="/sportsbook/lines">Betting Lines</a>
    </nav>
  </div>

  <div class="container-fluid blog-photo">
    <div class="news news-pic">
      <table class="youtube bets-table blog-caption">
        <tbody>
          <tr class="average-stats">
            <td colspan="5" class="left-align bet-head questions-table">
              Which team will win the Week 4 matchup?
            </td>
          </tr>
          <tr class="bet-date date-table average-stats">
            <td colspan="5" class="bet-date"><em>Tuesday, July 14, 2020</em></td>
          </tr>
          <tr class="bet-sides">
            <td>Bet</td>
            <td>Side</td>
            <td>Owner</td>
            <td class="right-data">Proj Points</td>
            <td class="right-data">Actual Points</td>
          </tr>
          <tr class="bet-sides">
            <td rowspan="2" class="dollar-bet">$20</td>
            <td><strong>Goathouse Alums</strong></td>
            <td><strong>Jorden</strong></td>
            <td class="right-data"><strong>144.16</strong></td>
            <td class="right-data"><strong>157.02</strong></td>
          </tr>
          <tr class="bet-sides">
            <td>Herbert St Hermits</td>
            <td>Lucas</td>
            <td class="right-data">135.27</td>
            <td class="right-data">104.32</td>
          </tr>
          <tr class="bet-sides">
            <td colspan="5"><em>*Bet includes beer chug, script for chug video & jersey swap pics</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid blog-photo">
    <div class="news news-pic">
      <table class="youtube bets-table blog-caption">
        <tbody>
          <tr class="average-stats">
            <td colspan="5" class="left-align bet-head questions-table">
              Which team will win the Week 3 matchup?
            </td>
          </tr>
          <tr class="bet-date date-table average-stats">
            <td colspan="5" class="bet-date"><em>Saturday, June 27, 2020</em></td>
          </tr>
          <tr class="bet-sides">
            <td>Bet</td>
            <td>Team</td>
            <td>Owner</td>
            <td class="right-data">Spread</td>
            <td class="right-data">Final Score</td>
          </tr>
          <tr class="bet-sides">
            <td rowspan="2" class="dollar-bet">$20</td>
            <td>Falcons</td>
            <td>Jorden</td>
            <td class="right-data">NL</td>
            <td class="right-data">26</td>
          </tr>
          <tr class="bet-sides">
            <td><strong>Bears</strong></td>
            <td><strong>Morgan</strong></td>
            <td class="right-data"></td>
            <td class="right-data"><strong>30</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="container-fluid blog-photo">
    <div class="news news-pic">
      <table class="youtube bets-table blog-caption">
        <tbody>
          <tr class="average-stats">
            <td colspan="5" class="left-align bet-head questions-table">
              Who will win Week 1 in 2020?
            </td>
          </tr>
          <tr class="bet-date date-table average-stats">
            <td colspan="5" class="bet-date"><em>Wednesday, June 10, 2020</td></em>
          </tr>
          <tr class="bet-sides">
            <td>Bet</td>
            <td>Side</td>
            <td>Owner</td>
            <td class="right-data">Proj Points</td>
            <td class="right-data">Actual Points</td>
          </tr>
          <tr class="bet-sides">
            <td rowspan="2" class="dollar-bet">$20</td>
            <td><strong>Leprechauns</strong></td>
            <td><strong>Caleb</strong></td>
            <td class="right-data"><strong>143.37</strong></td>
            <td class="right-data"><strong>114.90</strong></td>
          </tr>
          <tr class="bet-sides">
            <td>Goathouse Alums</td>
            <td>Jorden</td>
            <td class="right-data">138.32</td>
            <td class="right-data">111.04</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>
<%- include("../partials/footer") %>
