<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/bets_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/sportsbook/">Summary</a>
      <a class="nav-item nav-link" href="/sportsbook/bets">Active Bets</a>
      <a class="nav-item nav-link nav-active" href="/sportsbook/history"
        >Bet History</a
      >
      <a class="nav-item nav-link" href="/sportsbook/lines">Betting Lines</a>
    </nav>
  </div>

  <div class="container-fluid blog-photo">
    <div class="news news-pic">
      <h2>No Bet History Yet.</h2>
      <p>Come back soon!</p>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
