<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/lines_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/sportsbook/">Summary</a>
      <a class="nav-item nav-link" href="/sportsbook/bets">Active Bets</a>
      <a class="nav-item nav-link" href="/sportsbook/history">Bet History</a>
      <a class="nav-item nav-link nav-active" href="/sportsbook/lines"
        >Betting Lines</a
      >
    </nav>
  </div>

  <div class="container-fluid">
    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Quarantine Cowboys win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Quarantine Cowboys</td>
              <td rowspan="2" class="dollar-bet">Brian</td>
              <td class="right-data">O 5.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 5.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Jeff City Leprechauns win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Jeff City Leprechauns</td>
              <td rowspan="2" class="dollar-bet">Caleb</td>
              <td class="right-data">O 7.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 7.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the White Panthers win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">White Panthers</td>
              <td rowspan="2" class="dollar-bet">Cameron</td>
              <td class="right-data">O 7.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 7.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Baba Yagas win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Baba Yagas</td>
              <td rowspan="2" class="dollar-bet">Dan</td>
              <td class="right-data">O 5.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 5.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Silverbacks win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Silverbacks</td>
              <td rowspan="2" class="dollar-bet">Ethan</td>
              <td class="right-data">O 4.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 4.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Slayton Slayerz win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Slayton Slayerz</td>
              <td rowspan="2" class="dollar-bet">Jacob</td>
              <td class="right-data">O 6.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 6.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Goathouse Alums win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Goathouse Alums</td>
              <td rowspan="2" class="dollar-bet">Jorden</td>
              <td class="right-data">O 6.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 6.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Macdaddys win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Macdaddys</td>
              <td rowspan="2" class="dollar-bet">Juice</td>
              <td class="right-data">O 6.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 6.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Herbert St Hermits win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Herbert St Hermits</td>
              <td rowspan="2" class="dollar-bet">Lucas</td>
              <td class="right-data">O 4.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 4.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Direwolves win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Direwolves</td>
              <td rowspan="2" class="dollar-bet">Morgan</td>
              <td class="right-data">O 6.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 6.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the Outkasts win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">Outkasts</td>
              <td rowspan="2" class="dollar-bet">Scott</td>
              <td class="right-data">O 6.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 6.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                How many games will the 45ers win in 2020?
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>updated Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Min Bet</td>
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">O/U</td>
            </tr>
            <tr class="bet-sides">
              <td rowspan="2" class="dollar-bet">$20</td>
              <td rowspan="2">45ers</td>
              <td rowspan="2" class="dollar-bet">Shawn</td>
              <td class="right-data">O 7.5</td>
            </tr>
            <tr class="bet-sides">
              <td class="right-data">U 7.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
