<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/lines_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link" href="/sportsbook/">Summary</a>
      <a class="nav-item nav-link" href="/sportsbook/bets">Active Bets</a>
      <a class="nav-item nav-link" href="/sportsbook/history">Bet History</a>
      <a class="nav-item nav-link nav-active" href="/sportsbook/lines"
        >Betting Lines</a
      >
    </nav>
  </div>

  <div class="container-fluid">
    <div class="container-fluid blog-photo">
      <div class="news news-pic">
        <table class="youtube bets-table blog-caption">
          <tbody>
            <tr class="average-stats">
              <td colspan="5" class="left-align bet-head questions-table">
                2020 Over/Under Win Totals
              </td>
            </tr>
            <tr class="bet-date date-table average-stats">
              <td colspan="5" class="bet-date">
                <em>Monday, July 6, 2020</em>
              </td>
            </tr>
            <tr class="bet-sides">
              <td>Franchise</td>
              <td>Owner</td>
              <td class="right-data">July 6</td>
              <td class="right-data">October 31</td>
            </tr>
            <tr class="bet-sides">
              <td>45ers</td>
              <td>Shawn</td>
              <td class="right-data">7.5</td>
              <td class="right-data">10.5</td>
            </tr>
            <tr class="bet-sides">
              <td>White Panthers</td>
              <td>Cameron</td>
              <td class="right-data">7.5</td>
              <td class="right-data">8.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Slayton Slayerz</td>
              <td>Jacob</td>
              <td class="right-data">6.5</td>
              <td class="right-data">8.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Midwest Macdaddys</td>
              <td>Juice</td>
              <td class="right-data">6.5</td>
              <td class="right-data">7.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Jeff City Leprechauns</td>
              <td>Caleb</td>
              <td class="right-data">7.5</td>
              <td class="right-data">7.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Goathouse Alums</td>
              <td>Jorden</td>
              <td class="right-data">6.5</td>
              <td class="right-data">6.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Outkasts</td>
              <td>Scott</td>
              <td class="right-data">6.5</td>
              <td class="right-data">5.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Direwolves</td>
              <td>Morgan</td>
              <td class="right-data">6.5</td>
              <td class="right-data">5.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Herbert St. Hermits</td>
              <td>Lucas</td>
              <td class="right-data">4.5</td>
              <td class="right-data">4.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Baba Yagas</td>
              <td>Dan</td>
              <td class="right-data">5.5</td>
              <td class="right-data">4.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Silverbacks</td>
              <td>Ethan</td>
              <td class="right-data">4.5</td>
              <td class="right-data">4.5</td>
            </tr>
            <tr class="bet-sides">
              <td>Quarantine Cowboys</td>
              <td>Brian</td>
              <td class="right-data">5.5</td>
              <td class="right-data">3.5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
