<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/allasmc_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link nav-active" href="/all_asmc/">Overall</a>
      <a class="nav-item nav-link" href="/all_asmc/2020">2020</a>
      <a class="nav-item nav-link disabled">2021</a>
      <a class="nav-item nav-link disabled">2022</a>
    </nav>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Total</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table full-width">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Pos</th>
            <th><abbr title="Player">Player</abbr></th>
            <th><abbr title="NFL Team">Team</abbr></th>
            <th><abbr title="Franchise">Franchise</abbr></th>
            <th><abbr title="Owner">Owner</abbr></th>
            <th><abbr title="Logo">Logo</abbr></th>
            <th><abbr title="Conference">Conf.</abbr></th>
            <th><abbr title="1st Team">1st</abbr></th>
            <th><abbr title="2nd Team">2nd</abbr></th>
            <th><abbr title="3rd Team">3rd</abbr></th>
            <th><abbr title="Total">Total</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>QB</td>
            <td class="left-align">Patrick Mahomes</td>
            <td class="left-align">Kansas City</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>RB</td>
            <td class="left-align">Dalvin Cook</td>
            <td class="left-align">Minnesota</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>RB</td>
            <td class="left-align">Alvin Kamara</td>
            <td class="left-align">New Orleans</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>WR</td>
            <td class="left-align">Tyreek Hill</td>
            <td class="left-align">Kansas City</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>WR</td>
            <td class="left-align">Davante Adams</td>
            <td class="left-align">Green Bay</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>WR</td>
            <td class="left-align">DK Metcalf</td>
            <td class="left-align">Seattle</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="left-align">Jacob</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>WR</td>
            <td class="left-align">Calvin Ridley</td>
            <td class="left-align">Atlanta</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="left-align">Jacob</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>TE</td>
            <td class="left-align">Travis Kelce</td>
            <td class="left-align">Kansas City</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>DL</td>
            <td class="left-align">TJ Watt</td>
            <td class="left-align">Pittsburgh</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>LB</td>
            <td class="left-align">Roquan Smith</td>
            <td class="left-align">Chicago</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>1</td>
            <td>DB</td>
            <td class="left-align">Budda Baker</td>
            <td class="left-align">Arizona</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
          </tr>
          <tr>
            <td>12</td>
            <td>QB</td>
            <td class="left-align">Kyler Murray</td>
            <td class="left-align">Arizona</td>
            <td class="left-align">Herbert St Hermits</td>
            <td class="left-align">Lucas</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>RB</td>
            <td class="left-align">Derrick Henry</td>
            <td class="left-align">Tennessee</td>
            <td class="left-align">Baba Yagas</td>
            <td class="left-align">Dan</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>RB</td>
            <td class="left-align">Aaron Jones</td>
            <td class="left-align">Green Bay</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>WR</td>
            <td class="left-align">Keenan Allen</td>
            <td class="left-align">Los Angeles</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>WR</td>
            <td class="left-align">Adam Thielen</td>
            <td class="left-align">Minnesota</td>
            <td class="left-align">45ers</td>
            <td class="left-align">Shawn</td>
            <td class="nfl-logo-pad">
              <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>WR</td>
            <td class="left-align">DeAndre Hopkins</td>
            <td class="left-align">Arizona</td>
            <td class="left-align">Herbert St Hermits</td>
            <td class="left-align">Lucas</td>
            <td class="nfl-logo-pad">
              <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>WR</td>
            <td class="left-align">Will Fuller</td>
            <td class="left-align">Houston</td>
            <td class="left-align">Baba Yagas</td>
            <td class="left-align">Dan</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>TE</td>
            <td class="left-align">Darren Waller</td>
            <td class="left-align">Las Vegas</td>
            <td class="left-align">Outkasts</td>
            <td class="left-align">Scott</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>DL</td>
            <td class="left-align">Myles Garrett</td>
            <td class="left-align">Cleveland</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>LB</td>
            <td class="left-align">Devin White</td>
            <td class="left-align">Tampa Bay</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>DB</td>
            <td class="left-align">Jordan Poyer</td>
            <td class="left-align">Buffalo</td>
            <td class="left-align">Slayton Slayerz</td>
            <td class="left-align">Jacob</td>
            <td class="nfl-logo-pad">
              <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>23</td>
            <td>QB</td>
            <td class="left-align">Russell Wilson</td>
            <td class="left-align">Seattle</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>RB</td>
            <td class="left-align">James Robinson</td>
            <td class="left-align">Jacksonville</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>RB</td>
            <td class="left-align">Ezekiel Elliott</td>
            <td class="left-align">Dallas</td>
            <td class="left-align">Baba Yagas</td>
            <td class="left-align">Dan</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>WR</td>
            <td class="left-align">Stefon Diggs</td>
            <td class="left-align">Minnesota</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>WR</td>
            <td class="left-align">Allen Robinson</td>
            <td class="left-align">Chicago</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>WR</td>
            <td class="left-align">Tyler Lockett</td>
            <td class="left-align">Seattle</td>
            <td class="left-align">White Panthers</td>
            <td class="left-align">Cameron</td>
            <td class="nfl-logo-pad">
              <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>WR</td>
            <td class="left-align">Robert Woods</td>
            <td class="left-align">Los Angeles</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>TE</td>
            <td class="left-align">TJ Hockenson</td>
            <td class="left-align">Detroit</td>
            <td class="left-align">Silverbacks</td>
            <td class="left-align">Ethan</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>DL</td>
            <td class="left-align">Aaron Donald</td>
            <td class="left-align">Los Angeles</td>
            <td class="left-align">Quarantine Cowboys</td>
            <td class="left-align">Brian</td>
            <td class="nfl-logo-pad">
              <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>LB</td>
            <td class="left-align">Bobby Wagner</td>
            <td class="left-align">Seattle</td>
            <td class="left-align">Midwest Macdaddys</td>
            <td class="left-align">Juice</td>
            <td class="nfl-logo-pad">
              <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23</td>
            <td>DB</td>
            <td class="left-align">Minkah Fitzpatrick</td>
            <td class="left-align">Pittsburgh</td>
            <td class="left-align">Goathouse Alums</td>
            <td class="left-align">Jorden</td>
            <td class="nfl-logo-pad">
              <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
