<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/probowl_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills">
      <a class="nav-item nav-link" href="/probowl">Overall</a>
      <a class="nav-item nav-link nav-active" href="/probowl/2020">2020</a>
      <a class="nav-item nav-link disabled">2021</a>
      <a class="nav-item nav-link disabled">2022</a>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/eastern.png" alt="" class="box-score-logo" />
          <p>Eastern All-Stars</p>
          <p>Morgan Coale, <em>Manager</em></p>
          <h1>228.04</h1>
        </div>
        <div class="col-sm-6">
          <img src="/images/western.png" alt="" class="box-score-logo" />
          <p>Western All-Stars</p>
          <p>Ethan Morris, <em>Manager</em></p>
          <h1>314.06</h1>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <h6 class="table-title">
        <span class="league-table-title-fill">Line Score</span>
      </h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
          <thead>
            <tr>
              <th colspan="7"></th>
              <th colspan="4">Passing</th>
              <th colspan="3">Rushing</th>
              <th colspan="4">Receiving</th>
              <th>Misc</th>
              <th colspan="3">Special Teams</th>
              <th colspan="11">Defense</th>
            </tr>
            <tr>
              <th>Team</th>
              <th>Manager</th>
              <th>Logo</th>
              <th>Conf</th>
              <th>Points</th>
              <th>Yards</th>
              <th>TD</th>
              <th>Int</th>
              <th>2Pt</th>
              <th>Yards</th>
              <th>TD</th>
              <th>2Pt</th>
              <th>Rec</th>
              <th>Yards</th>
              <th>TD</th>
              <th>2Pt</th>
              <th>Fum</th>
              <th>TD</th>
              <th>FF</th>
              <th>FR</th>
              <th>Solo</th>
              <th>Asst</th>
              <th>TFL</th>
              <th>Sack</th>
              <th>PD</th>
              <th>Int</th>
              <th>FF</th>
              <th>FR</th>
              <th>Saf</th>
              <th>TD</th>
              <th>Block</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left-align no-wrapper">Eastern Conference</td>
              <td class="left-align no-wrapper">Morgan</td>
              <td class="nfl-logo-pad">
                <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td class="nfl-logo-pad">
                <img src="/images/eastern.png" alt="" class="nfl-logo" />
              </td>
              <td>228.04</td>
              <td>536</td>
              <td>5</td>
              <td>1</td>
              <td>0</td>
              <td>419</td>
              <td>4</td>
              <td>0</td>
              <td>35</td>
              <td>452</td>
              <td>4</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>18</td>
              <td>14</td>
              <td>3</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="left-align no-wrapper">Western Conference</td>
              <td class="left-align no-wrapper">Ethan</td>
              <td class="nfl-logo-pad">
                <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td class="nfl-logo-pad">
                <img src="/images/western.png" alt="" class="nfl-logo" />
              </td>
              <td>314.06</td>
              <td>329</td>
              <td>4</td>
              <td>1</td>
              <td>0</td>
              <td>469</td>
              <td>5</td>
              <td>0</td>
              <td>69</td>
              <td>775</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>30</td>
              <td>12</td>
              <td>4</td>
              <td>5</td>
              <td>5</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid">
      <h6 class="table-title">
        <span class="league-table-title-fill">Eastern Conference Roster</span>
      </h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
          <thead>
            <tr>
              <th></th>
              <th colspan="5">Franchise Info</th>
              <th></th>
              <th colspan="4">Passing</th>
              <th colspan="3">Rushing</th>
              <th colspan="4">Receiving</th>
              <th>Misc</th>
              <th colspan="3">Special Teams</th>
              <th colspan="11">Defense</th>
            </tr>
            <tr>
              <th>Pos</th>
              <th>Player</th>
              <th>Team</th>
              <th>Franchise</th>
              <th>Owner</th>
              <th>Logo</th>
              <th>Points</th>
              <th>Yards</th>
              <th>TD</th>
              <th>Int</th>
              <th>2Pt</th>
              <th>Yards</th>
              <th>TD</th>
              <th>2Pt</th>
              <th>Rec</th>
              <th>Yards</th>
              <th>TD</th>
              <th>2Pt</th>
              <th>Fum</th>
              <th>TD</th>
              <th>FF</th>
              <th>FR</th>
              <th>Solo</th>
              <th>Asst</th>
              <th>TFL</th>
              <th>Sack</th>
              <th>PD</th>
              <th>Int</th>
              <th>FF</th>
              <th>FR</th>
              <th>Saf</th>
              <th>TD</th>
              <th>Block</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>QB</td>
              <td class="left-align no-wrapper">Russell Wilson</td>
              <td class="left-align no-wrapper">Seattle</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>19.74</td>
              <td>171</td>
              <td>2</td>
              <td></td>
              <td></td>
              <td>29</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>QB</td>
              <td class="left-align no-wrapper">Deshaun Watson</td>
              <td class="left-align no-wrapper">Houston</td>
              <td class="left-align no-wrapper">Direwolves</td>
              <td class="left-align no-wrapper">Morgan</td>
              <td class="nfl-logo-pad">
                <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>28.80</td>
              <td>365</td>
              <td>3</td>
              <td>1</td>
              <td></td>
              <td>12</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RB</td>
              <td class="left-align no-wrapper">Nick Chubb</td>
              <td class="left-align no-wrapper">Cleveland</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>16.80</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>108</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RB</td>
              <td class="left-align no-wrapper">Derrick Henry</td>
              <td class="left-align no-wrapper">Tennessee</td>
              <td class="left-align no-wrapper">Baba Yagas</td>
              <td class="left-align no-wrapper">Dan</td>
              <td class="nfl-logo-pad">
                <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>35.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>250</td>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RB</td>
              <td class="left-align no-wrapper">Myles Gaskin</td>
              <td class="left-align no-wrapper">Miami</td>
              <td class="left-align no-wrapper">Direwolves</td>
              <td class="left-align no-wrapper">Morgan</td>
              <td class="nfl-logo-pad">
                <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>15.70</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>20</td>
              <td>1</td>
              <td></td>
              <td>4</td>
              <td>57</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Davante Adams</td>
              <td class="left-align no-wrapper">Green Bay</td>
              <td class="left-align no-wrapper">White Panthers</td>
              <td class="left-align no-wrapper">Cameron</td>
              <td class="nfl-logo-pad">
                <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>13.60</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>6</td>
              <td>46</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Chris Godwin</td>
              <td class="left-align no-wrapper">Tampa Bay</td>
              <td class="left-align no-wrapper">Quarantine Cowboys</td>
              <td class="left-align no-wrapper">Brian</td>
              <td class="nfl-logo-pad">
                <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>27.80</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>5</td>
              <td>133</td>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Adam Thielen</td>
              <td class="left-align no-wrapper">Minnesota</td>
              <td class="left-align no-wrapper">45ers</td>
              <td class="left-align no-wrapper">Shawn</td>
              <td class="nfl-logo-pad">
                <img src="/images/shawn/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>7.70</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>4</td>
              <td>57</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Allen Robinson</td>
              <td class="left-align no-wrapper">Chicago</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>4.70</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>2</td>
              <td>37</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">TY Hilton</td>
              <td class="left-align no-wrapper">Indianapolis</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>13.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td>27</td>
              <td>1</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>TE</td>
              <td class="left-align no-wrapper">Mark Andrews</td>
              <td class="left-align no-wrapper">Baltimore</td>
              <td class="left-align no-wrapper">Baba Yagas</td>
              <td class="left-align no-wrapper">Dan</td>
              <td class="nfl-logo-pad">
                <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>5.70</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>4</td>
              <td>27</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>TE</td>
              <td class="left-align no-wrapper">George Kittle</td>
              <td class="left-align no-wrapper">San Francisco</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>10.30</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>7</td>
              <td>68</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DL</td>
              <td class="left-align no-wrapper">Khalil Mack</td>
              <td class="left-align no-wrapper">Chicago</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>6.50</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DL</td>
              <td class="left-align no-wrapper">Myles Garrett</td>
              <td class="left-align no-wrapper">Cleveland</td>
              <td class="left-align no-wrapper">White Panthers</td>
              <td class="left-align no-wrapper">Cameron</td>
              <td class="nfl-logo-pad">
                <img src="/images/cameron/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>4.50</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>LB</td>
              <td class="left-align no-wrapper">Roquan Smith</td>
              <td class="left-align no-wrapper">Chicago</td>
              <td class="left-align no-wrapper">Direwolves</td>
              <td class="left-align no-wrapper">Morgan</td>
              <td class="nfl-logo-pad">
                <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>3.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>2</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>LB</td>
              <td class="left-align no-wrapper">Joe Schobert</td>
              <td class="left-align no-wrapper">Jacksonville</td>
              <td class="left-align no-wrapper">Quarantine Cowboys</td>
              <td class="left-align no-wrapper">Brian</td>
              <td class="nfl-logo-pad">
                <img src="/images/brian/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>7.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>5</td>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DB</td>
              <td class="left-align no-wrapper">Jeremy Chinn</td>
              <td class="left-align no-wrapper">Carolina</td>
              <td class="left-align no-wrapper">Direwolves</td>
              <td class="left-align no-wrapper">Morgan</td>
              <td class="nfl-logo-pad">
                <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>4.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>6</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DB</td>
              <td class="left-align no-wrapper">Jamal Adams</td>
              <td class="left-align no-wrapper">Seattle</td>
              <td class="left-align no-wrapper">Midwest Macdaddys</td>
              <td class="left-align no-wrapper">Juice</td>
              <td class="nfl-logo-pad">
                <img src="/images/juice/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>4.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid">
      <h6 class="table-title">
        <span class="league-table-title-fill">Western Conference Roster</span>
      </h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
          <thead>
            <tr>
              <th></th>
              <th colspan="5">Franchise Info</th>
              <th></th>
              <th colspan="4">Passing</th>
              <th colspan="3">Rushing</th>
              <th colspan="4">Receiving</th>
              <th>Misc</th>
              <th colspan="3">Special Teams</th>
              <th colspan="11">Defense</th>
            </tr>
            <tr>
              <th>Pos</th>
              <th>Player</th>
              <th>Team</th>
              <th>Franchise</th>
              <th>Owner</th>
              <th>Logo</th>
              <th>Points</th>
              <th>Yards</th>
              <th>TD</th>
              <th>Int</th>
              <th>2Pt</th>
              <th>Yards</th>
              <th>TD</th>
              <th>2Pt</th>
              <th>Rec</th>
              <th>Yards</th>
              <th>TD</th>
              <th>2Pt</th>
              <th>Fum</th>
              <th>TD</th>
              <th>FF</th>
              <th>FR</th>
              <th>Solo</th>
              <th>Asst</th>
              <th>TFL</th>
              <th>Sack</th>
              <th>PD</th>
              <th>Int</th>
              <th>FF</th>
              <th>FR</th>
              <th>Saf</th>
              <th>TD</th>
              <th>Block</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>QB</td>
              <td class="left-align no-wrapper">Ryan Tannehill</td>
              <td class="left-align no-wrapper">Tennessee</td>
              <td class="left-align no-wrapper">Silverbacks</td>
              <td class="left-align no-wrapper">Ethan</td>
              <td class="nfl-logo-pad">
                <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>29.44</td>
              <td>216</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td>38</td>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>QB</td>
              <td class="left-align no-wrapper">Lamar Jackson</td>
              <td class="left-align no-wrapper">Baltimore</td>
              <td class="left-align no-wrapper">Outkasts</td>
              <td class="left-align no-wrapper">Scott</td>
              <td class="nfl-logo-pad">
                <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>27.22</td>
              <td>113</td>
              <td>3</td>
              <td>1</td>
              <td></td>
              <td>97</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RB</td>
              <td class="left-align no-wrapper">Jonathan Taylor</td>
              <td class="left-align no-wrapper">Indianapolis</td>
              <td class="left-align no-wrapper">Silverbacks</td>
              <td class="left-align no-wrapper">Ethan</td>
              <td class="nfl-logo-pad">
                <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>37.90</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>253</td>
              <td>2</td>
              <td></td>
              <td>1</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RB</td>
              <td class="left-align no-wrapper">David Montgomery</td>
              <td class="left-align no-wrapper">Chicago</td>
              <td class="left-align no-wrapper">Jeff City Leprechauns</td>
              <td class="left-align no-wrapper">Caleb</td>
              <td class="nfl-logo-pad">
                <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>23.70</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>69</td>
              <td>1</td>
              <td></td>
              <td>9</td>
              <td>63</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>RB</td>
              <td class="left-align no-wrapper">Austin Ekeler</td>
              <td class="left-align no-wrapper">Los Angeles</td>
              <td class="left-align no-wrapper">Herbert St Hermits</td>
              <td class="left-align no-wrapper">Lucas</td>
              <td class="nfl-logo-pad">
                <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>14.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>18</td>
              <td></td>
              <td></td>
              <td>6</td>
              <td>33</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">AJ Brown</td>
              <td class="left-align no-wrapper">Tennessee</td>
              <td class="left-align no-wrapper">Slayton Slayerz</td>
              <td class="left-align no-wrapper">Jacob</td>
              <td class="nfl-logo-pad">
                <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>26.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>10</td>
              <td>151</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Calvin Ridley</td>
              <td class="left-align no-wrapper">Atlanta</td>
              <td class="left-align no-wrapper">Slayton Slayerz</td>
              <td class="left-align no-wrapper">Jacob</td>
              <td class="nfl-logo-pad">
                <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>7.60</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>-6</td>
              <td></td>
              <td></td>
              <td>8</td>
              <td>52</td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Justin Jefferson</td>
              <td class="left-align no-wrapper">Minnesota</td>
              <td class="left-align no-wrapper">Herbert St Hermits</td>
              <td class="left-align no-wrapper">Lucas</td>
              <td class="nfl-logo-pad">
                <img src="/images/lucas/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>17.80</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>9</td>
              <td>133</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">DK Metcalf</td>
              <td class="left-align no-wrapper">Seattle</td>
              <td class="left-align no-wrapper">Slayton Slayerz</td>
              <td class="left-align no-wrapper">Jacob</td>
              <td class="nfl-logo-pad">
                <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>3.60</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td>21</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WR</td>
              <td class="left-align no-wrapper">Brandin Cooks</td>
              <td class="left-align no-wrapper">Houston</td>
              <td class="left-align no-wrapper">Jeff City Leprechauns</td>
              <td class="left-align no-wrapper">Caleb</td>
              <td class="nfl-logo-pad">
                <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>35.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>11</td>
              <td>166</td>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>TE</td>
              <td class="left-align no-wrapper">Logan Thomas</td>
              <td class="left-align no-wrapper">Washington</td>
              <td class="left-align no-wrapper">Slayton Slayerz</td>
              <td class="left-align no-wrapper">Jacob</td>
              <td class="nfl-logo-pad">
                <img src="/images/jacob/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>11.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td>37</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>TE</td>
              <td class="left-align no-wrapper">Darren Waller</td>
              <td class="left-align no-wrapper">Las Vegas</td>
              <td class="left-align no-wrapper">Outkasts</td>
              <td class="left-align no-wrapper">Scott</td>
              <td class="nfl-logo-pad">
                <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>23.30</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>9</td>
              <td>118</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DL</td>
              <td class="left-align no-wrapper">Chase Young</td>
              <td class="left-align no-wrapper">Washington</td>
              <td class="left-align no-wrapper">Goathouse Alums</td>
              <td class="left-align no-wrapper">Jorden</td>
              <td class="nfl-logo-pad">
                <img src="/images/jorden/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>7.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>2</td>
              <td></td>
              <td>1</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DL</td>
              <td class="left-align no-wrapper">DeForest Buckner</td>
              <td class="left-align no-wrapper">Indianapolis</td>
              <td class="left-align no-wrapper">Silverbacks</td>
              <td class="left-align no-wrapper">Ethan</td>
              <td class="nfl-logo-pad">
                <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>10.50</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3</td>
              <td>1</td>
              <td>2</td>
              <td>2</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>LB</td>
              <td class="left-align no-wrapper">Blake Martinez</td>
              <td class="left-align no-wrapper">New York</td>
              <td class="left-align no-wrapper">Outkasts</td>
              <td class="left-align no-wrapper">Scott</td>
              <td class="nfl-logo-pad">
                <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>11.50</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>6</td>
              <td>5</td>
              <td>1</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>LB</td>
              <td class="left-align no-wrapper">Darius Leonard</td>
              <td class="left-align no-wrapper">Indianapolis</td>
              <td class="left-align no-wrapper">Jeff City Leprechauns</td>
              <td class="left-align no-wrapper">Caleb</td>
              <td class="nfl-logo-pad">
                <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>16.00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>8</td>
              <td>2</td>
              <td></td>
              <td>1</td>
              <td>2</td>
              <td></td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DB</td>
              <td class="left-align no-wrapper">Budda Baker</td>
              <td class="left-align no-wrapper">Arizona</td>
              <td class="left-align no-wrapper">Jeff City Leprechauns</td>
              <td class="left-align no-wrapper">Caleb</td>
              <td class="nfl-logo-pad">
                <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>6.50</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>4</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>DB</td>
              <td class="left-align no-wrapper">Foyesade Oluokun</td>
              <td class="left-align no-wrapper">Atlanta</td>
              <td class="left-align no-wrapper">Outkasts</td>
              <td class="left-align no-wrapper">Scott</td>
              <td class="nfl-logo-pad">
                <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
              </td>
              <td>5.50</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>4</td>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
</div>
</div>