<%- include("../partials/headers/main") %>

<div class="container">
  <div class="container-fluid">
    <img src="/images/probowl_banner.png" alt="" class="banner" />
  </div>

  <div class="bottom-border">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white justify-content-center nav-pills"
    >
      <a class="nav-item nav-link nav-active" href="/probowl">Overall</a>
      <a class="nav-item nav-link" href="/probowl/2020">2020</a>
      <a class="nav-item nav-link disabled">2021</a>
      <a class="nav-item nav-link disabled">2022</a>
    </nav>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">All-Time</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Conference</th>
            <th>Logo</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
            <th><abbr title="Points For Per Game">PF/G</abbr></th>
            <th><abbr title="Points Against Per Game">PA/G</abbr></th>
            <th><abbr title="Point Spread Per Game">PS/G</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">Western</td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td class="right-data">1.000</td>
            <td class="right-data">314.06</td>
            <td class="right-data">228.04</td>
            <td class="right-data">86.02</td>
            <td class="right-data">314.06</td>
            <td class="right-data">228.04</td>
            <td class="right-data">86.02</td>
          </tr>
          <tr>
            <td class="left-data">Eastern</td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td class="right-data">.000</td>
            <td class="right-data">228.04</td>
            <td class="right-data">314.06</td>
            <td class="right-data">-86.02</td>
            <td class="right-data">228.04</td>
            <td class="right-data">314.06</td>
            <td class="right-data">-86.02</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Manager</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Franchise</th>
            <th>Logo</th>
            <th>Conf.</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Wins">W</abbr></th>
            <th><abbr title="Losses">L</abbr></th>
            <th><abbr title="Winning Percentage">Pct.</abbr></th>
            <th><abbr title="Points For">PF</abbr></th>
            <th><abbr title="Points Against">PA</abbr></th>
            <th><abbr title="Point Spread">PS</abbr></th>
            <th><abbr title="Points For Per Game">PF/G</abbr></th>
            <th><abbr title="Points Against Per Game">PA/G</abbr></th>
            <th><abbr title="Point Spread Per Game">PS/G</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-align">Ethan</td>
            <td class="left-align">Silverbacks</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Western Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td class="right-data">1.000</td>
            <td class="right-data">314.06</td>
            <td class="right-data">228.04</td>
            <td class="right-data">86.02</td>
            <td class="right-data">314.06</td>
            <td class="right-data">228.04</td>
            <td class="right-data">86.02</td>
          </tr>
          <tr>
            <td class="left-align">Morgan</td>
            <td class="left-align">Direwolves</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td class="right-data">.000</td>
            <td class="right-data">228.04</td>
            <td class="right-data">314.06</td>
            <td class="right-data">-86.02</td>
            <td class="right-data">228.04</td>
            <td class="right-data">314.06</td>
            <td class="right-data">-86.02</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Game Log</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Winning Team">Winner</abbr></th>
            <th><abbr title="Winning Manager">Manager</abbr></th>
            <th><abbr title="Score">Score</abbr></th>
            <th><abbr title="Losing Team">Loser</abbr></th>
            <th><abbr title="Losing Manager">Manager</abbr></th>
            <th><abbr title="Score">Score</abbr></th>
            <th><abbr title="Pro Bowl Most Valuable Player">MVP</abbr></th>
            <th><abbr title="MVP Team">Team</abbr></th>
            <th><abbr title="Pro Bowl Least Valuable Player">LVP</abbr></th>
            <th><abbr title="LVP Team">Team</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left-data">2020</td>
            <td class="left-data">Western</td>
            <td class="left-data">Ethan</td>
            <td class="left-data">314.06</td>
            <td class="left-data">Eastern</td>
            <td class="left-data">Morgan</td>
            <td class="left-data">228.04</td>
            <td class="left-data">Jonathan Taylor</td>
            <td class="left-data">Silverbacks</td>
            <td class="left-data">Allen Robinson</td>
            <td class="left-data">Midwest Macdaddys</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Most Valuable Player</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Player">Player</abbr></th>
            <th><abbr title="NFL Team">Team</abbr></th>
            <th><abbr title="Franchise">Franchise</abbr></th>
            <th><abbr title="Owner">Owner</abbr></th>
            <th><abbr title="Logo">Logo</abbr></th>
            <th><abbr title="Conference">Conf.</abbr></th>
            <th><abbr title="Points">Points</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2020</td>
            <td class="left-align">Jonathan Taylor</td>
            <td class="left-align">Indianapolis</td>
            <td class="left-align">Silverbacks</td>
            <td class="left-align">Ethan</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>37.90</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">Least Valuable Player</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Year</th>
            <th><abbr title="Player">Player</abbr></th>
            <th><abbr title="NFL Team">Team</abbr></th>
            <th><abbr title="Franchise">Franchise</abbr></th>
            <th><abbr title="Owner">Owner</abbr></th>
            <th><abbr title="Logo">Logo</abbr></th>
            <th><abbr title="Conference">Conf.</abbr></th>
            <th><abbr title="Points">Points</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2020</td>
            <td class="left-align">Allen Robinson</td>
            <td class="left-align">Chicago</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>4.70</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill">All-Time Leaderboard (QBs)</span>
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th><abbr title="Player">Player</abbr></th>
            <th><abbr title="NFL Team">Team</abbr></th>
            <th><abbr title="Franchise">Franchise</abbr></th>
            <th><abbr title="Owner">Owner</abbr></th>
            <th><abbr title="Logo">Logo</abbr></th>
            <th><abbr title="Conference">Conf.</abbr></th>
            <th><abbr title="Points">Points</abbr></th>
            <th><abbr title="Year(s)">Year(s)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="left-align">Ryan Tannehill</td>
            <td class="left-align">Tennessee</td>
            <td class="left-align">Silverbacks</td>
            <td class="left-align">Ethan</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>29.44</td>
            <td>2020</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="left-align">Deshaun Watson</td>
            <td class="left-align">Houston</td>
            <td class="left-align">Direwolves</td>
            <td class="left-align">Morgan</td>
            <td class="nfl-logo-pad">
              <img src="/images/morgan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>28.80</td>
            <td>2020</td>
          </tr>
          <tr>
            <td>3</td>
            <td class="left-align">Lamar Jackson</td>
            <td class="left-align">Baltimore</td>
            <td class="left-align">Outkasts</td>
            <td class="left-align">Scott</td>
            <td class="nfl-logo-pad">
              <img src="/images/scott/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>27.22</td>
            <td>2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <h6 class="table-title">
      <span class="league-table-title-fill"
        >All-Time Leaderboard (Non-QBs)</span
      >
    </h6>
    <div class="table-responsive">
      <table class="table table-hover standard-stats draft-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th><abbr title="Player">Player</abbr></th>
            <th><abbr title="NFL Team">Team</abbr></th>
            <th><abbr title="Franchise">Franchise</abbr></th>
            <th><abbr title="Owner">Owner</abbr></th>
            <th><abbr title="Logo">Logo</abbr></th>
            <th><abbr title="Conference">Conf.</abbr></th>
            <th><abbr title="Points">Points</abbr></th>
            <th><abbr title="Year(s)">Year(s)</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="left-align">Jonathan Taylor</td>
            <td class="left-align">Indianapolis</td>
            <td class="left-align">Silverbacks</td>
            <td class="left-align">Ethan</td>
            <td class="nfl-logo-pad">
              <img src="/images/ethan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>37.90</td>
            <td>2020</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="left-align">Brandin Cooks</td>
            <td class="left-align">Houston</td>
            <td class="left-align">Jeff City Leprechauns</td>
            <td class="left-align">Caleb</td>
            <td class="nfl-logo-pad">
              <img src="/images/caleb/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/western.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>35.10</td>
            <td>2020</td>
          </tr>
          <tr>
            <td>3</td>
            <td class="left-align">Derrick Henry</td>
            <td class="left-align">Tennessee</td>
            <td class="left-align">Baba Yagas</td>
            <td class="left-align">Dan</td>
            <td class="nfl-logo-pad">
              <img src="/images/dan/logo.png" alt="" class="nfl-logo" />
            </td>
            <td class="nfl-logo-pad">
              <img
                src="/images/eastern.png"
                alt="Eastern Conference"
                class="nfl-logo"
              />
            </td>
            <td>35.00</td>
            <td>2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
